@media screen and (min-width: 1399px) {
	
	
	.header_left, .header_middle, .header_right {
		opacity: 0;
		transition: opacity 500ms linear;
	}
	
	
	
	
	
	body.ready {
		.header_left, .header_middle, .header_right {
			transform: translateX(0px);
			opacity: 1;
		}
		.header_middle {
			transition-delay: 100ms;
		}
		.header_right {
			transition-delay: 200ms;
		}
	}
	
	.sec_one_header {
		//opacity: 0;
		span {
			opacity: 0;
			transform: translateY(35px);
			transition: opacity 400ms ease-in-out, transform 800ms cubic-bezier(.17,.66,.34,.98);
			&:after {
				transform: scale(0,1);
				transform-origin: top left;
				transition: transform 1100ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	body.ready {
		.sec_one_header {
			span {
				opacity: 1;
				transform: translateY(0px);
				&:after {
					transform: scale(1,1);
				}
				&:nth-of-type(1) {
					transition-delay: 200ms;
					&:after {
						transition-delay: 300ms;
					}
				}
				&:nth-of-type(2) {
					transition-delay: 500ms;
					&:after {
						transition-delay: 600ms;
					}
				}
				&:nth-of-type(3) {
					transition-delay: 700ms;
					&:after {
						transition-delay: 800ms;
					}
				}
			}
		}
	}
	

.sec_one_left {
	a.consultation_button {
		opacity: 0;
		overflow: hidden;
		transform: translateY(35px);
		transition: opacity 400ms ease-in-out, transform 800ms cubic-bezier(.17,.66,.34,.98), background 200ms linear;
		position: relative;
		&:before, &:after {
			content:"";
			display: block;
			width:100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;
		}
		&:before {
			background:$orange;
			z-index:-2;
		}
		&:after {
			background:$gold;
			z-index:-1;
			transform: translateX(-100%);
			transition: transform 675ms cubic-bezier(.17,.66,.34,.98);
		}
		&:hover {
			background: $gold;
			&:after {
				transform: translateX(0%);
			}
		}
	}
}


body.ready {
	.sec_one_left {
		a.consultation_button {
			opacity: 1;
			transform: translateY(0);
			transition-delay: 800ms, 800ms, 0ms;
			&:hover {
				
			}
		}
	}
}
	
	
	
	.sec_one_left {
		img {
			transform: translateX(0);
			transition: all 3500ms cubic-bezier(.25,.66,.34,.98);
		}
	}
	
	
	body.ready {
		.sec_one_left {
			img {
				transform: translateX(-300px);
			}
		}
	}
	
	
	.sec_one_single_vid {
		position: relative;
			//min-height: 451px;
			overflow: hidden;
			transform: translateY(45px);
			transition: all 1000ms cubic-bezier(.17,.66,.34,.98);
			&:after {
				content:"";
				display: block;
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background: $blue;
				transform: translateY(0);
				transition: all 1300ms ease-in-out;
			}
		.sec_one_video_img {
			
			img.video_thumb {
				box-shadow: 0px 6px 24px 0px rgba(0,0,1,0);
			}
		}
		.sec_one_single_content {
			opacity: 0;
			transition: all 200ms linear;
		}
		.play_button {
			transform: translateY(-5px);
			opacity: 0;
			transition: opacity 300ms linear, transform 900ms cubic-bezier(.17,.66,.34,.98);
		}
		.judo_play {
			transform: translateY(-5px);
			opacity: 0;
			transition: opacity 300ms linear, transform 900ms cubic-bezier(.17,.66,.34,.98);
		}
		span.click_to_watch {
			&:after {
				transform-origin: top left;
				transform: scale(0,1);
				transition: transform 800ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	body.ready {
	 .sec_one_single_vid {
		 transform: translateY(0px);
		 &:hover {
			 .play_button {
				 background: rgba(193,151,80,0.85);
			 }
		 }
			 &:after {
				 transform: translateY(100%);
			 }
		 &:nth-of-type(2) {
			  transition-delay: 300ms;
			  &:hover {
				  
			  }
				 &:after {
					 transition-delay: 300ms;
				 }
			 .sec_one_video_img {
				
			 }
			 span.click_to_watch {
			 	&:after {
					transition-delay: 1400ms;
				}
			}
		 }
		 .sec_one_video_img {
			 
		 }
	 }
	 .sec_one_single_content {
		 opacity: 1;
		 transform: translateY(0px);
	 }
	 .play_button {
			transform: translateY(0px);
			opacity: 1;
			transition-delay:1000ms;
			transition: background 200ms ease-in-out;
		}
		.judo_play {
			transform: translateY(0px);
			opacity: 1;
			transition-delay:1300ms
		}
		span.click_to_watch {
			&:after {
				transform: scale(1,1);
				transition-delay: 1250ms;
			}
		}
	}
	
	
	// section two
	
	
	.sec_two_inner_slide {
		span.slide_number {
			transform: translateY(-10px);
			opacity: 0;
			transition: transform 800ms cubic-bezier(.17,.66,.34,.98), opacity 300ms linear;
			&:before {
				transform: scale(0,1);
				position: relative;
				transform-origin: top left;
				transition: all 900ms cubic-bezier(.17,.66,.34,.98);
			}
		}
		span.sec_two_slide_title {
			transform: translateY(15px);
			transition: transform 800ms cubic-bezier(.17,.66,.34,.98);
		}
		span.sec_two_slide_description {
			transform: translateY(15px);
			transition: transform 800ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	#section_two.visible {
		.sec_two_inner_slide {
			span.slide_number {
				transform: translateY(0px);
				opacity: 1;
				&:before {
					transform: scale(1,1);
				}
			}
			span.sec_two_slide_title {
				transform: translateY(0px);
			}
			span.sec_two_slide_description {
				transform: translateY(0px);
			}
		}
		.sec_two_single_slide.one {
			.sec_two_inner_slide {
				span.slide_number {
					&:before {
						
					}
				}
				span.sec_two_slide_description {
					transition-delay: 100ms;
				}
			}
		}
		.sec_two_single_slide.two {
			.sec_two_inner_slide {
				span.slide_number {
					transition-delay: 300ms;
					&:before {
						transition-delay: 300ms;
					}
				}
				span.sec_two_slide_title {
					transition-delay: 300ms;
				}
				span.sec_two_slide_description {
					transition-delay: 400ms;
				}
			}
		}
		.sec_two_single_slide.three {
			.sec_two_inner_slide {
				span.slide_number {
					transition-delay: 500ms;
					&:before {
						transition-delay: 500ms;
					}
				}
				span.sec_two_slide_title {
					transition-delay: 500ms;
				}
				span.sec_two_slide_description {
					transition-delay: 600ms;
				}
			}
		}
		.sec_two_single_slide.four {
			.sec_two_inner_slide {
				span.slide_number {
					transition-delay: 700ms;
					&:before {
						transition-delay: 700ms;
					}
				}
				span.sec_two_slide_title {
					transition-delay: 700ms;
				}
				span.sec_two_slide_description {
					transition-delay: 800ms;
				}
			}
		}
	}
	
	
	
	// section three
	
	
	.sec_three_top_content {
		&:before {
			transform: scale(0,1);
			transform-origin: top left;
			transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	.sec_three_top_content_wrapper.visible {
		.sec_three_top_content {
			&:before {
				transform: scale(1,1);
			}
		}
	}
	
	
	.sec_three_top_img {
		transform: translateY(120px);
		transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		.sec_three_top_img_inner {
			overflow: hidden;
			position: relative;
			&:after {
				content:"";
				display: block;
				width:100%;
				height:100%;
				position: absolute;
				top:0;
				left:0;
				background: #fff;
				transform: translateX(0);
				transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
			}
			img {
				//transform: scale(1.1);
				//transition: all 900ms cubic-bezier(.17,.66,.34,.98);
			}
			a.meet_attorneys_button {
				transform: translateX(-200px);
				opacity: 0;
				transition: background 200ms ease-in-out, transform 1300ms cubic-bezier(.17,.66,.34,.98), opacity 300ms linear;
			}
		}
	}
	
	.sec_three_top_content_wrapper.visible {
		.sec_three_top_img {
			transform: translateY(0px);
			transition-delay: 300ms;
			.sec_three_top_img_inner {
				&:after {
					transform: translateX(-100%);
					transition-delay: 300ms;
				}
				img {
				//transform: scale(1);
				
				}
				a.meet_attorneys_button {
					transform: translateX(0px);
					opacity: 1;
					transition-delay: 1000ms, 1000ms;
					&:hover {
						transition-delay: 0ms;
					}
				}
			}
		}
	}
	
	.sec_three_blockquote {
	
	}
	
	.sec_three_blockquote_content {
		.sec_three_quote {
			strong {
				&:after {
					transform: scale(0,1);
					transition: all 1100ms cubic-bezier(.17,.66,.34,.98);
					transform-origin: top left;
				}
			}
		}
		span.blockquote_name {
			transform: translateY(-15px);
			opacity: 0;
			transition: opacity 300ms linear, transform 900ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	.sec_three_bottom_content_wrapper.visible {
		.sec_three_blockquote_content {
			.sec_three_quote {
				strong {
					&:after {
						transform: scale(1,1);
					}
					&:nth-of-type(1) {
						&:after {
							transition-delay: 300ms;
						}
					}
					&:nth-of-type(2) {
						&:after {
							transition-delay: 600ms;
						}
					}
					&:nth-of-type(3) {
						&:after {
							transition-delay: 900ms;
						}
					}
				}
			}
			span.blockquote_name {
				transform: translateY(0px);
				opacity: 1;
				transition-delay: 1100ms;
			}
		}
	}
	
	
	.sec_three_bottom_content {
		&:before {
			transform: scale(0,1);
			transform-origin: top left;
			transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	.sec_three_bottom_content_wrapper.visible {
		.sec_three_bottom_content {
			&:before {
				transform: scale(1,1);
			}
		}
	}
	
	
	// section four
	
	.sec_four_reg {
		.sec_four_reg_inner {
			.sec_four_svg {
				svg {
					transform: translateY(-30px);
					transition: transform 1800ms cubic-bezier(.17,.66,.34,.98);
				}
			}
			span.sp_amount {
				transform: translateY(-30px);
				transition: transform 1800ms cubic-bezier(.17,.66,.34,.98);
				&:after {
					transform: scale(0,1);
					transform-origin: top center;
					transition: transform 1000ms cubic-bezier(.17,.66,.34,.98);
				}
			}
			span.sp_type {
				transform: translateY(-30px);
				transition: transform 1800ms cubic-bezier(.17,.66,.34,.98);
			}
			.sec_four_svg.one {
				svg {
					path.sp-1-st2 {
						stroke-dasharray: 1000;
						stroke-dashoffset: 1000;
						transition: stroke-dashoffset 2200ms linear;
					}
					line {
						stroke-dasharray: 100;
						stroke-dashoffset: 100;
						transition: stroke-dashoffset 3000ms linear;
					}
				}
			}
			.sec_four_svg.two {
				svg {
					path.sp-2-st1 {
						stroke-dasharray: 1000;
						stroke-dashoffset: 1000;
						transition: stroke-dashoffset 3200ms linear;
					}
					path.sp-2-st2 {
						stroke-dasharray: 1000;
						stroke-dashoffset: 1000;
						transition: stroke-dashoffset 3200ms linear;
					}
					polyline {
						stroke-dasharray: 200;
						stroke-dashoffset: 200;
						transition: stroke-dashoffset 2500ms linear;
					}
					rect {
						stroke-dasharray: 200;
						stroke-dashoffset: 200;
						transition: stroke-dashoffset 2500ms linear;
					}
					line {
						stroke-dasharray: 100;
						stroke-dashoffset: 100;
						transition: stroke-dashoffset 3200ms linear;
					}
				}
			}
			.sec_four_svg.three {
				svg {
					path.sp-3-st1 {
						stroke-dasharray: 1000;
						stroke-dashoffset: 1000;
						transition: stroke-dashoffset 3200ms linear;
					}
					rect {
						stroke-dasharray: 200;
						stroke-dashoffset: 200;
						transition: stroke-dashoffset 3200ms linear;
					}
					line {
						stroke-dasharray: 100;
						stroke-dashoffset: 100;
						transition: stroke-dashoffset 3000ms linear;
					}
					circle {
						stroke-dasharray: 100;
						stroke-dashoffset: 100;
						transition: stroke-dashoffset 3200ms linear;
					}
				}
			}
			.sec_four_svg.four {
				svg {
					path.sp-4-st1 {
						stroke-dasharray: 1000;
						stroke-dashoffset: 1000;
						transition: stroke-dashoffset 3200ms linear;
					}
					line {
						stroke-dasharray: 100;
						stroke-dashoffset: 100;
						transition: stroke-dashoffset 3000ms linear;
					}
					circle {
						stroke-dasharray: 100;
						stroke-dashoffset: 100;
						transition: stroke-dashoffset 3200ms linear;
					}
					polyline {
						stroke-dasharray: 200;
						stroke-dashoffset: 200;
						transition: stroke-dashoffset 2500ms linear;
					}
				}
			}
		}
	}
	
	
	#section_four.visible {
		.sec_four_reg {
			.sec_four_reg_inner {
				span.sp_amount {
					transform: translateY(0);
					&:after {
						transform: scale(1,1);
					}
				}
				span.sp_type {
					transform: translateY(0px);
				}
				.sec_four_svg {
					svg {
						transform: translateY(0px);
						path, line, rect, polyline {
							stroke-dashoffset: 0;
						}
					}
				}
			}
		}
		.sec_four_reg.one {
			.sec_four_reg_inner {
				span.sp_amount {
					transition-delay: 0ms;
					&:after {
						transition-delay: 0ms;
					}
				}
				span.sp_type {
					
				}
				.sec_four_svg {
					svg {
						transition-delay: 0ms;
						path, line, rect, polyline {
							transition-delay: 0ms;
						}
					}
				}
			}
		}
		.sec_four_reg.two {
			.sec_four_reg_inner {
				span.sp_amount {
					transition-delay: 300ms;
					&:after {
						transition-delay: 300ms;
					}
				}
				span.sp_type {
					transition-delay: 300ms;
				}
				.sec_four_svg {
					svg {
						transition-delay: 300ms;
						path, line, rect, polyline {
							transition-delay: 300ms;
						}
					}
				}
			}
		}
		.sec_four_reg.three {
			.sec_four_reg_inner {
				span.sp_amount {
					transition-delay: 600ms;
					&:after {
						transition-delay: 600ms;
					}
				}
				span.sp_type {
					transition-delay: 600ms;
				}
				.sec_four_svg {
					svg {
						transition-delay: 600ms;
						path, line, rect, polyline {
							transition-delay: 600ms;
						}
					}
				}
			}
		}
		.sec_four_reg.four {
			.sec_four_reg_inner {
				span.sp_amount {
					transition-delay: 900ms;
					&:after {
						transition-delay: 900ms;
					}
				}
				span.sp_type {
					transition-delay: 900ms;
				}
				.sec_four_svg {
					svg {
						transition-delay: 900ms;
						path, line, rect, polyline {
							transition-delay: 900ms;
						}
					}
				}
			}
		}
	}
	

	
	.sec_four_hover {
		.sec_four_hover_inner {
			.sec_four_hover_description_wrapper {
				span.sec_four_hover_description {
					transform: translateY(-35px);
					opacity: 0;
					transition: transform 800ms cubic-bezier(.17,.66,.34,.98), opacity 300ms cubic-bezier(.17,.66,.34,.98);
				}
			}
			.view_sp_button_wrapper {
				span.view_sp_button {
					transform: translateY(-35px);
					opacity: 0;
					transition: transform 800ms cubic-bezier(.17,.66,.34,.98);
				}
			}
		}
	}
	
	
	#section_four.visible {
		.sec_four_slide {
			&:hover {
				.sec_four_hover {
					.sec_four_hover_inner {
						.sec_four_hover_description_wrapper {
							span.sec_four_hover_description {
								transform: translateY(0px);
								opacity: 1;
							}
						}
						.view_sp_button_wrapper {
							span.view_sp_button {
								transform: translateY(0px);
								opacity: 1;
								//transition-delay: 00ms;
							}
						}
					}
				}
			}
		}
	}
	
	
	// section five
	
	
	
	.sec_five_image {
		overflow: hidden;
		position: relative;
		transform: translateY(120px);
		transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		&:after {
			content:"";
			display: block;
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: #fff;
			transform: translateX(0%);
			transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		}
		img {
			
		}
	}
	
	
	.sec_five_content {
		&:before {
			transform: scale(0,1);
			transform-origin: top right;
			transition: all 1300ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
		}
	}
	
	.sec_five_container.visible {
		.sec_five_image {
			transform: translateY(0px);
			transition-delay: 300ms;
			&:after {
				transform: translateX(100%);
				transition-delay: 300ms;
			}
			img {
			
			}
		}
		.sec_five_content {
			&:before {
				transform: scale(1,1);
			}
		}
	}
	
	
	// footer
	
	
	.footer_cta_wrapper {
		.footer_cta {
			span {
				opacity: 0;
				transform: translateY(35px);
				transition: opacity 400ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98);
				&:after {
					transform: scale(0,1);
					transform-origin: top left;
					transition: transform 1100ms cubic-bezier(.17,.66,.34,.98);
				}
			}
		}
	}
	
	
	#footer_trigger.visible {
		.footer_cta_wrapper {
			.footer_cta {
				span {
					opacity: 1;
					transform: translateY(0px);
					&:after {
						transform: scale(1,1);
					}
					&:nth-of-type(1) {
						transition-delay: 200ms;
						&:after {
							transition-delay: 200ms;
						}
					}
					&:nth-of-type(2) {
						transition-delay: 500ms;
						&:after {
							transition-delay: 600ms;
						}
					}
					&:nth-of-type(3) {
						transition-delay: 700ms;
						&:after {
							transition-delay: 1000ms;
						}
					}
				}
			}
		}
	}
	
	
	// about our firm
	
	
	.about_top_left {
		&:before {
			transform: scale(0,1);
			transform-origin: top left;
			transition: all 1300ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
		}
	}
	
	body.ready {
		.about_top_left {
			&:before {
				transform: scale(1,1);
			}
		}
	}
	
	.about_right_video_wrapper {
		span.about_right_title {
			transform: translateX(-35px);
			transition: transform 1300ms cubic-bezier(.17,.66,.34,.98), opacity 300ms linear;
			opacity: 0;
		}
	}
	
	
	.about_right_video {
		position: relative;
		overflow: hidden;
		transform: translateY(120px);
		transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		&:after {
			content:"";
			display: block;
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: #fff;
			transform: translateX(0);
			transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		}
		.play_button_overlay {
			.play_button {
				opacity: 0;
				transform: translateY(-20px);
				transition: opacity 400ms ease-in-out, transform 800ms cubic-bezier(.17,.66,.34,.98), background 200ms ease-in-out;
			}
		}
	}
	
	
	body.ready {
		.about_right_video_wrapper {
			span.about_right_title {
				transform: translateX(0px);
				opacity: 1;
				transition-delay: 1330ms;
			}
		}
	 .about_right_video {
		 transform: translateY(0px);
		 transition-delay: 300ms;
		 &:after {
			 transform: translateX(-100%);
			 transition-delay: 300ms;
		 }
		 .play_button_overlay {
			.play_button {
				opacity: 1;
				transform: translateY(0px);
				transition-delay: 1330ms, 1330ms, 0ms;
			}
		}
	 }
	}
	
	.about_bottom_wrapper {
		
	}
	
	.about_bottom_right {
		&:before {
			transform: scale(0,1);
			transform-origin: top left;
			transition: all 1300ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
		}
	}
	
	.about_bottom_wrapper.visible {
		.about_bottom_right {
			&:before {
				transform: scale(1,1);
			}
		}
	}
	
	
	.about_bottom_blockquote {
		.about_bottom_blockquote_inner {
			.about_bottom_blockquote_content {
				strong {
					opacity: 0;
					transform: translateY(35px);
					transition: opacity 400ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98);
					&:after {
						transform: scale(0,1);
						transform-origin: top left;
						transition: transform 1100ms cubic-bezier(.17,.66,.34,.98);
					}
				}
			}
		}
	}
	
	.about_bottom_wrapper.visible {
		.about_bottom_blockquote {
			.about_bottom_blockquote_inner {
				.about_bottom_blockquote_content {
					strong {
						opacity: 1;
						transform: translateY(0px);
						&:after {
							transform: scale(1,1);
						}
						&:nth-of-type(1) {
							transition-delay: 200ms;
							&:after {
								transition-delay: 200ms;
							}
						}
						&:nth-of-type(2) {
							transition-delay: 500ms;
							&:after {
								transition-delay: 600ms;
							}
						}
						&:nth-of-type(3) {
							transition-delay: 700ms;
							&:after {
								transition-delay: 1000ms;
							}
						}
						&:nth-of-type(4) {
							transition-delay: 900ms;
							&:after {
								transition-delay: 1200ms;
							}
						}
					}
				}
			}
		}
	}
	
	
	.about_bottom_left {
		a.about_blockquote_button {
			opacity: 0;
			transform: translateY(35px);
			transition: opacity 400ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98), background 200ms ease-in-out;
		}
	}
	
	.about_bottom_wrapper.visible {
		a.about_blockquote_button {
			opacity: 1;
			transform: translateY(0px);
			transition-delay: 1200ms, 1200ms, 0ms;
		}
	}
	
	
	.about_awards_wrapper {
		opacity: 0;
		transform: translateY(35px);
		transition: opacity 400ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98), background 200ms ease-in-out;
	}
	
	.about_awards_wrapper.visible {
		opacity: 1;
		transform: translateY(0px);
	}
	
	
	// attorney
	
	
	.att_bio_image {
		position: relative;
		overflow: hidden;
		transform: translateY(120px);
		transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		&:after {
			content:"";
			display: block;
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			background: #fff;
			transform: translateX(0);
			transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	.att_bio_info {
		opacity: 0;
	}
	
	body.ready {
		.att_bio_image {
			transform: translateY(0px);
			transition-delay: 300ms;
			&:after {
				transform: translateX(-100%);
				transition-delay: 300ms;
			}
		}
		.att_bio_info {
			opacity: 1;
		}
	}
	
	
	.att_bio_right {
		&:before {
			transform: scale(0,1);
			transform-origin: top right;
			transition: all 1300ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
		}
	}
	
	
	
	body.ready {
		.att_bio_right {
			&:before {
				transform: scale(1,1);
			}
		}
	}
	
	
	.att_awards_wrapper {
		opacity: 0;
		transform: translateY(35px);
		transition: opacity 400ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98), background 200ms ease-in-out;
	}
	
	.att_awards_wrapper.visible {
		opacity: 1;
		transform: translateY(0px);
	}
	
	// att meet team grid
	
	.single_att {
		transform: translateY(-35px);
		transition: all 1300ms cubic-bezier(.17,.66,.34,.98);
		&:hover {
			a {
				.single_att_img {
					img {
						transform: scale(1.05);
					}
				}
			}
		}
		a {
			.single_att_img {
				position: relative;
				overflow: hidden;
				&:after {
					content:"";
					display: block;
					position: absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					background: #fff;
					transform: translateX(0);
					transition: all 1000ms cubic-bezier(.17,.66,.34,.98);
				}
				img {
					transform: scale(1);
					transition: all 600ms ease-in-out;
				}
			}
		}
	}
	
	
	
	body.ready {
		.single_att {
			transform: translateY(0);
			.single_att_img {
				transform: translateY(0px);
				&:after {
					transform: translateX(-100%);
				}
			}
			&:nth-of-type(4n + 1) {
				transition-delay: 0;
				.single_att_img {
					&:after {
						transition-delay: 0;
					}
				}
			}
			&:nth-of-type(4n + 2) {
				transition-delay: 100ms;
				.single_att_img {
					&:after {
						transition-delay: 100ms;
					}
				}
			}
			&:nth-of-type(4n + 3) {
				transition-delay: 200ms;
				.single_att_img {
					&:after {
						transition-delay: 200ms;
					}
				}
			}
			&:nth-of-type(4n + 4) {
				transition-delay: 300ms;
				.single_att_img {
					&:after {
						transition-delay: 300ms;
					}
				}
			}
		}
	}
	
	
	.single_att {
		a {
			span.single_att_name, span.single_att_position {
				transform: translateY(25px);
				opacity: 0;
				transition: transform 800ms cubic-bezier(.17,.66,.34,.98), opacity 300ms linear;
			}
		}
	}
	
	
	body.ready {
		.single_att {
			a {
				span.single_att_name, span.single_att_position {
					transform: translateY(0px);
					opacity: 1;
				}
			}
			&:nth-of-type(4n + 1) {
				a {
					span.single_att_name, span.single_att_position {
						transition-delay: 300ms;
					}
				}
			}
			&:nth-of-type(4n + 2) {
				a {
					span.single_att_name, span.single_att_position {
						transition-delay: 400ms;
					}
				}
			}
			&:nth-of-type(4n + 3) {
				a {
					span.single_att_name, span.single_att_position {
						transition-delay: 500ms;
					}
				}
			}
			&:nth-of-type(4n + 4) {
				a {
					span.single_att_name, span.single_att_position {
						transition-delay: 600ms;
					}
				}
			}
		}
	}
	
	
	// internal banners
	
	
	.internal_banner {
		overflow: hidden;
		img.banner_image {
			transform: scale(1.2);
			transition: all 1600ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	body.ready {
		.internal_banner {
			img.banner_image {
				transform: scale(1);
			}
		}
	}
	
	
	.banner_content {
		.banner_title {
			.banner_header {
				opacity: 0;
				transform: translateY(35px);
				transition: opacity 400ms ease-in-out, transform 800ms cubic-bezier(.17,.66,.34,.98);
				&:after {
					transform: scale(0,1);
					transform-origin: top left;
					transition: transform 1100ms cubic-bezier(.17,.66,.34,.98);
				}
			}
		}
	}
	
	
	body.ready {
		.banner_content {
			.banner_title {
				.banner_header {
					opacity: 1;
					transform: translateY(0px);
					&:after {
						transform: scale(1,1);
					}
					&:nth-of-type(1) {
						transition-delay: 0ms;
						&:after {
							transition-delay: 200ms;
						}
					}
					&:nth-of-type(2) {
						transition-delay: 500ms;
						&:after {
							transition-delay: 700ms;
						}
					}
/*
					&:nth-of-type(3) {
						transition-delay: 900ms;
						&:after {
							transition-delay: 1000ms;
						}
					}
*/
				}
			}
		}
	}
	
	
	a.internal_consultation_button {
		opacity: 0;
		transform: translateY(15px);
		transition: opacity 400ms ease-in-out, transform 800ms cubic-bezier(.17,.66,.34,.98), background 200ms linear;
	}
	
	body.ready {
		a.internal_consultation_button {
			transform: translateY(0);
			opacity:1;
			transition-delay: 1000ms, 1000ms, 0ms;
		}
	}
	
	// practice areas header
	
	
	.content {
		h1 {
			&:after {
				transform: scale(0,1);
				transform-origin: top left;
				transition: all 1600ms cubic-bezier(0.17, 0.66, 0.34, 0.98);
			}
		}
	}
	
	body.ready {
		.content {
			h1 {
				&:after {
					transform:scale(1,1);
					transition-delay: 1000ms;
				}
			}
		}
	}
	
	// blockquote 
	
	
	.blockquote_wrapper {
		.blockquote_inner {
			.blockquote_content {
				transform:translateY(35px);
				opacity: 0;
				transition: opacity 400ms ease-in-out, transform 1200ms cubic-bezier(.17,.66,.34,.98);
				strong {
					box-shadow: 0px 0px 0px 0px rgba(231,88,65,0);
					border-bottom: none;
					transition:box-shadow 600ms ease-in-out;
				}
			}
			.blockquote_name {
				transform:translateY(35px);
				opacity: 0;
				transition: opacity 400ms ease-in-out, transform 1200ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	.blockquote_wrapper.visible {
		.blockquote_inner {
			.blockquote_content {
				transform:translateY(0px);
				opacity: 1;
				strong {
					box-shadow: 0px 5px 0px 0px rgba(231,88,65,1);
					//border-bottom: 5px solid $orange;
					transition-delay: 400ms;
				}
			}
			.blockquote_name {
				transform:translateY(0px);
				opacity: 1;
				transition-delay: 200ms;
			}
		}
	}
	

	

	

	
} /* Media Query */

@media screen and (min-width: 2095px) {
	
	// if monitor is big then make sure the image goes back to default so theres no white spce on the righthand side
	
	body.ready {
		.sec_one_left {
			img {
				transform: translateX(0px);
			}
		}
	}
	
	
	
} /* Media Query */