@media screen and (min-width: 1399px) {
	
	
	
	
	.sec_one_header {
		//opacity: 0;
		span {
			opacity: 0;
			transform: translateY(35px);
			transition: opacity 200ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98);
			&:after {
				transform: scale(0,1);
				transform-origin: top left;
				transition: transform 1100ms cubic-bezier(.17,.66,.34,.98);
			}
		}
	}
	
	
	body.ready {
		.sec_one_header {
			span {
				opacity: 1;
				transform: translateY(0px);
				&:after {
					transform: scale(1,1);
				}
				&:nth-of-type(1) {
					transition-delay: 200ms;
					&:after {
						transition-delay: 200ms;
					}
				}
				&:nth-of-type(2) {
					transition-delay: 400ms;
					&:after {
						transition-delay: 500ms;
					}
				}
				&:nth-of-type(3) {
					transition-delay: 600ms;
					&:after {
						transition-delay: 900ms;
					}
				}
			}
		}
	}
	

.sec_one_left {
	a.consultation_button {
		opacity: 0;
		transform: translateY(35px);
		transition: opacity 200ms ease-in-out, transform 700ms cubic-bezier(.17,.66,.34,.98);
		&:hover {
			
		}
	}
}


body.ready {
	.sec_one_left {
		a.consultation_button {
			opacity: 1;
			transform: translateY(0);
			transition-delay: 800ms, 800ms;
			&:hover {
				background: $gold;
			}
		}
	}
}
	
	
	
	.sec_one_left {
		img {
			transform: translateX(0);
			transition: all 5000ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	body.ready {
		.sec_one_left {
			img {
				transform: translateX(-300px);
			}
		}
	}
	
	
	.sec_one_single_vid {
		position: relative;
			//min-height: 451px;
			overflow: hidden;
			transform: translateY(45px);
			transition: all 1000ms cubic-bezier(.17,.66,.34,.98);
			&:after {
				content:"";
				display: block;
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background: $blue;
				transform: translateY(0);
				transition: all 1300ms ease-in-out;
			}
		.sec_one_video_img {
			
			img.video_thumb {
				box-shadow: 0px 6px 24px 0px rgba(0,0,1,0);
			}
		}
		.sec_one_single_content {
			opacity: 0;
			transition: all 200ms linear;
		}
		.play_button {
			transform: translateY(-5px);
			opacity: 0;
			transition: opacity 300ms linear, transform 900ms cubic-bezier(.17,.66,.34,.98);
		}
		.judo_play {
			transform: translateY(-5px);
			opacity: 0;
			transition: opacity 300ms linear, transform 900ms cubic-bezier(.17,.66,.34,.98);
		}
	}
	
	
	body.ready {
	 .sec_one_single_vid {
		 transform: translateY(0px);
			 &:after {
				 transform: translateY(100%);
			 }
		 &:nth-of-type(2) {
			  transition-delay: 300ms;
				 &:after {
					 transition-delay: 300ms;
				 }
			 .sec_one_video_img {
				
			 }
		 }
		 .sec_one_video_img {
			 
		 }
	 }
	 .sec_one_single_content {
		 opacity: 1;
		 transform: translateY(0px);
	 }
	 .play_button {
			transform: translateY(0px);
			opacity: 1;
			transition-delay:1000ms
		}
		.judo_play {
			transform: translateY(0px);
			opacity: 1;
			transition-delay:1300ms
		}
	}
	
	
} /* Media Query */