

.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}


.gform_wrapper ul li ::-webkit-input-placeholder {
  color: $blue; }
.gform_wrapper ul li ::-moz-placeholder {
  color: $blue; }
 .gform_wrapper ul li :-moz-placeholder {
   color: $blue; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: $blue; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }




.content {
	font-size: 18px;
	line-height: 34px;
	@include sourcesanssemibold;
	h1 {
		font-size: 60px;
		line-height: 71px;
		@include montserratblack;
		&:after {
			content:"";
			display: block;
			width:100%;
			height:5px;
			background: $orange;
			margin-top:95px;
		}
	}
	h2 {
		color:$gold;
		font-size: 23px;
		line-height: 34px;
		padding-top:32px;
		padding-bottom:18px;
		@include sourcesansbold;
	}
	h3 {
		color:$orange;
		padding-top:71px;
		padding-bottom:28px;
		font-size: 19px;
		letter-spacing: 0.15em;
		@include montserratblack;
	}
	ul {
		list-style: none;
		margin-bottom:35px;
		li {
			margin-bottom:16px;
			padding-left:30px;
			margin-left:25px;
			position: relative;
			&:before {
				content:"";
				width:8px;
				height:8px;
				background: $orange;
				display: block;
				border-radius: 50%;
				position: absolute;
				top:13px;
				left:0;
			}
		}
	}
	p {
		margin-bottom:35px;
	}
}



@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}
	
	
	
	
} /* Media Query */