

header {
	width:100%;
	height:133px;
	display: flex;
	box-shadow: 0px 4px 5.6px 1.4px rgba(0, 0, 0, 0.11);
	position: fixed;
	top:0;
	left:0;
	z-index:5;
	background: #fff;
}





.header_left, .header_middle, .header_right {
	height:100%;
	display: flex;
	align-items: center;
}


.header_left {
	
	padding-left:57px;
	position: relative;
	z-index:1;
}

.header_middle {
	flex-grow:1;
	padding:0 30px;
	nav.desktop {
		ul.menu {
			li {
				a {
					&:hover {
						color:$gold;
					}
				}
			}
			> li.menu-item-has-children {
				 > a {
					 &:hover {
						&:before {
						 opacity: 1;
					 }
					 &:after {
						 opacity: 0;
					 }
					}
				}
			}
		}
	}
	nav {
		width:100%;
		max-width:1066px;
		margin:4px auto 0;
		.menu-header {
			
		}
		ul.menu {
			list-style: none;
			margin:0;
			display: flex;
			justify-content: space-between;
			> li {
					text-transform: lowercase;
					font-size: 17px;
					@include montserratbold;
					> a {
						cursor: pointer;
						text-decoration: none;
						color:$black;
						transition: all 300ms ease-in-out;
					}
			}
			> li.menu-item-has-children {
					&:hover {
						> a {
							 color:$gold;
							 &:before {
								opacity: 1;
							}
							&:after {
								opacity: 0;
							}
						}
						.sub_menu_wrap {
							opacity: 1;
							visibility: visible;
						}
					}
					> a {
						position: relative;
						&:before, &:after {
							content:"";
							display: inline-block;
							width:14px;
							height:9px;
							background-size: 16px 9px;
							position: absolute;
							top:7px;
							right:-18px;
							transition: all 200ms ease-in-out;
						}
						&:before {
							background: url(#{$themePath}images/nav_arrow-01-gold.svg) no-repeat;
							opacity: 0;
						}
						&:after {
							background: url(#{$themePath}images/nav_arrow-01.svg) no-repeat;
							opacity: 1;
						}
					}
				}
		}
		ul.sub-menu {
			opacity: 0;
		}
		ul.sub-menu.show {
			opacity: 1;
		
		}
	}
}

.header_right {
	flex-basis:380px;
	flex-shrink:0;
	padding-right:57px;
	a, span {
		display: block;
		text-align: right;
		position: relative;
		top:-5px;
	}
	a {
		color:$orange;
		text-decoration: none;
		font-size: 30px;
		@include notoserifbold;
	}
	span {
		text-transform: uppercase;
		font-size:12px;
		margin-top:14px;
		letter-spacing: 0.15em;
		@include montserratblack;
		strong {
			color:$orange;
		}
	}
}


.mega_menu_bg {
	position: fixed;
	z-index:4;
	background:#fff;
	width:100%;
	height: calc(100vh - 133px);
  top: 133px;
	left:0;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease-in-out;
}

.mega_menu_bg.show {
	opacity: 1;
	visibility: visible;
}

.sub_menu_wrap {
	position: absolute;
	width:100%;
	top: 75px;
	left:0;
	opacity: 0;
	visibility: hidden;
	transition: all 200ms ease-in-out;
}

.sub_menu_inner {
	max-width:1470px;
	margin:190px auto 0;
	ul.sub-menu {
		display: flex;
		justify-content: space-between;
		ul.sub-list {
			list-style: none;
			flex-basis:20%;
			li {
			text-transform: lowercase;
			font-size: 18px;
			margin-bottom:19px;
			@include montserratsemibold;
			a {
				color:$black;
				display: inline-block;
				text-decoration: none;
				padding-bottom:8px;
				border-bottom:4px solid transparent;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$gold;
					border-bottom:4px solid $gold;
				}
			}
		}
		}
	}
}

.menu_wrapper {
	display: none;
}

.tablet_nav {
	display: none;
}

@media screen and (min-width: 1650px) {
	
	
	.header_middle.hide {
		nav {
			display: none;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1650px) {
	
	
	header {
		justify-content: space-between;
	}
	
	
	.header_left {
		padding-left:36px;
	}
	
	.header_middle {
		display: none;
	}
	
	
	.header_right {
		padding-right:34px;
		flex-basis: 465px;
		justify-content: flex-end;
	}
	
	.menu_wrapper {
		display: block;
		width:54px;
		margin-left: 55px;
		.menu_bar {
			width:100%;
			height:6px;
			background: $black;
			margin-bottom:5px;
		}
		.menu_title {
			font-size: 15px;
			letter-spacing: 0.1em;
			@include montserratbold;
		}
	}
	
	
	.tablet_nav {
		display: block;
		width:100%;
		height:calc(100vh - 133px);
		background:#fff;
		position: fixed;
		top:133px;
		left:0;
		padding:50px 0;
		overflow-y: scroll;
	}
	
	.tablet_nav_inner {
		max-width:700px;
		margin-left:185px;
		display: flex;
	}
	
	.tablet_col {
		flex-basis:50%;
	}
	
	.tablet_nav_col_one {
		ul.sub-menu {
			display: none;
		}
		ul.menu {
			list-style: none;
			li {
				text-transform: lowercase;
				margin-bottom:20px;
				@include montserratbold;
				a {
					font-size: 28px;
					color:$black;
					display: inline-block;
					text-decoration: none;
					padding-bottom:8px;
					border-bottom:4px solid transparent;
					transition: all 200ms ease-in-out;
					cursor: pointer;
					&:hover {
						color:$gold;
						border-bottom:4px solid $gold;
					}
				}
			}
			
		}
	}
	
	.tablet_nav_col_two {
		padding-top:48px;
		ul {
			list-style: none;
			li {
				font-size: 18px;
				text-transform: lowercase;
				margin-bottom:19px;
				@include montserratsemibold;
				a {
					color:$black;
					display: inline-block;
					text-decoration: none;
					padding-bottom:8px;
					border-bottom: 4px solid transparent;
					transition: all 200ms ease-in-out;
					&:hover {
						border-bottom: 4px solid $gold;
					}
				}
			}
		}
	}
	
	
} /* Media Query */

