

header {
	width:100%;
	height:133px;
	display: flex;
	box-shadow: 0px 4px 5.6px 1.4px rgba(0, 0, 0, 0.11);
}





.header_left, .header_middle, .header_right {
	height:100%;
	display: flex;
}


.header_left {
	align-items: center;
	padding-left:57px;
}

.header_middle {
	flex-grow:1;
	align-items: center;
	nav.desktop {
		ul.menu {
			li {
				a {
					&:hover {
						color:$gold;
					}
				}
			}
			> li.menu-item-has-children {
				 > a {
					 &:hover {
						&:before {
						 opacity: 1;
					 }
					 &:after {
						 opacity: 0;
					 }
					}
				}
			}
		}
	}
	nav {
		width:100%;
		max-width:1066px;
		margin:4px auto 0;
		.menu-header {
			
		}
		ul.menu {
			list-style: none;
			margin:0;
			display: flex;
			justify-content: space-between;
			> li {
					text-transform: lowercase;
					font-size: 17px;
					@include montserratbold;
					> a {
						cursor: pointer;
						text-decoration: none;
						color:$black;
						transition: all 200ms ease-in-out;
					}
			}
			> li.menu-item-has-children {
					> a {
						position: relative;
						&:before, &:after {
							content:"";
							display: inline-block;
							width:14px;
							height:9px;
							background-size: 16px 9px;
							position: absolute;
							top:7px;
							right:-18px;
							transition: all 200ms ease-in-out;
						}
						&:before {
							background: url(#{$themePath}images/nav_arrow-01-gold.svg) no-repeat;
							opacity: 0;
						}
						&:after {
							background: url(#{$themePath}images/nav_arrow-01.svg) no-repeat;
							opacity: 1;
						}
					}
				}
		}
		ul.sub-menu {
			display: none;
		}
	}
}

.header_right {
	flex-basis:380px;
	flex-shrink:0;
	padding-right:57px;
	flex-direction: column;
	justify-content: center;
	a, span {
		display: block;
		text-align: right;
		position: relative
		;
		top:-5px;
	}
	a {
		color:$orange;
		text-decoration: none;
		font-size: 30px;
		@include notoserifbold;
	}
	span {
		text-transform: uppercase;
		font-size:12px;
		margin-top:14px;
		letter-spacing: 0.15em;
		@include montserratblack;
		strong {
			color:$orange;
		}
	}
}

