

header {
	width:100%;
	height:133px;
	display: flex;
	box-shadow: 0px 4px 5.6px 1.4px rgba(0, 0, 0, 0.11);
	position: fixed;
	top:0;
	left:0;
	z-index:6;
	background: #fff;
}





.header_left, .header_middle, .header_right {
	height:100%;
	display: flex;
	align-items: center;
}


.header_left {
	padding-left:57px;
	position: relative;
	z-index:1;
}

.mobile_logo {
	display: none;
}

.header_middle {
	flex-grow:1;
	padding:0 30px;
	nav.desktop {
		ul.menu {
			li {
				a {
					&:hover {
						color:$gold;
					}
				}
			}
			> li.menu-item-has-children {
				 > a {
					 &:hover {
						&:before {
						 opacity: 1;
					 }
					 &:after {
						 opacity: 0;
					 }
					}
				}
			}
		}
	}
	nav {
		width:100%;
		max-width:1066px;
		margin:4px auto 0;
		.menu-header {
			
		}
		ul.menu {
			list-style: none;
			margin:0;
			display: flex;
			justify-content: space-between;
			
			> li {
					text-transform: lowercase;
					font-size: 17px;
					@include montserratbold;
					> a {
						cursor: pointer;
						text-decoration: none;
						color:$black;
						transition: all 300ms ease-in-out;
					}
			}
			
			> li.current-menu-item {
					> a {
							color:$gold;
						}
				}
			> li.menu-item-has-children {
					&:hover {
						> a {
							 color:$gold;
							 &:before {
								opacity: 1;
							}
							&:after {
								opacity: 0;
							}
						}
						.sub_menu_wrap {
							opacity: 1;
							visibility: visible;
						}
					}
					> a {
						position: relative;
						&:before, &:after {
							content:"";
							display: inline-block;
							width:32px;
							height:9px;
							background-size: 16px 9px;
							position: absolute;
							top:7px;
							right:-22px;
							
							transition: all 200ms ease-in-out;
						}
						&:before {
							background: url(#{$themePath}images/nav_arrow-01-gold.svg) no-repeat top right;
							opacity: 0;
						}
						&:after {
							background: url(#{$themePath}images/nav_arrow-01.svg) no-repeat top right;
							opacity: 1;
						}
					}
				}
				> li.current-menu-ancestor {
					> a {
							color:$gold;
							&:before {
								opacity: 1;
							}
							&:after {
								opacity: 0;
							}
					}
			}

		}
		ul.sub-menu {
			opacity: 0;
		}
		ul.sub-menu.show {
			opacity: 1;
		
		}
	}
}

.header_right {
	flex-basis:380px;
	flex-shrink:0;
	padding-right:57px;
	a, span {
		display: block;
		text-align: right;
		position: relative;
		top:-5px;
	}
	a {
		color:$orange;
		text-decoration: none;
		font-size: 30px;
		@include notoserifbold;
	}
	span {
		text-transform: uppercase;
		font-size:12px;
		margin-top:14px;
		letter-spacing: 0.15em;
		@include montserratblack;
		strong {
			color:$orange;
		}
	}
}


.mega_menu_bg {
	position: fixed;
	z-index:4;
	background:#fff;
	width:100%;
	height: calc(100vh - 133px);
  top: 133px;
	left:0;
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease-in-out;
}

.mega_menu_bg.show {
	opacity: 1;
	visibility: visible;
}

.sub_menu_wrap {
	position: absolute;
	width:100%;
	top: 75px;
	left:0;
	opacity: 0;
	visibility: hidden;
	transition: all 200ms ease-in-out;
}

.sub_menu_inner {
	max-width:1470px;
	margin:190px auto 0;
	ul.sub-menu {
		display: flex;
		justify-content: space-between;
		ul.sub-list {
			list-style: none;
			flex-basis:20%;
			li.current-menu-item {
				a {
					color:$gold;
					border-bottom:4px solid $gold;
				}
			}
			li.orange {
				text-transform: uppercase;
				font-size: 16px;
				letter-spacing: 0.15em;
				@include montserratblack;
				a {
					color:$orange;
				}
			}
			li {
				text-transform: lowercase;
				font-size: 18px;
				margin-bottom:19px;
				@include montserratsemibold;
				a {
					color:$black;
					display: inline-block;
					text-decoration: none;
					padding-bottom:8px;
					border-bottom:4px solid transparent;
					transition: all 200ms ease-in-out;
					&:hover {
						color:$gold;
						border-bottom:4px solid $gold;
					}
				}
			}
		}
	}
}

.open_close_wrapper {
	display: none;
}

.tablet_nav {
	display: none;
}


.mobile_close {
	display: none;
}


@media screen and (min-width: 1650px) {
	
	
	.header_middle.hide {
		nav {
			display: none;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 1650px) {
	
	
	header {
		justify-content: space-between;
	}
	
	
	.header_left {
		padding-left:36px;
	}
	
	.header_middle {
		display: none;
	}
	
	
	.header_right {
		padding-right:34px;
		flex-basis: 465px;
		justify-content: flex-end;
	}
	
	.open_close_wrapper {
		cursor: pointer;
		width:54px;
		height:48px;
		display: block;
		margin-left: 55px;
		position: relative;
	}
	
	.menu_wrapper {
		width:54px;
		height:48px;
		position: absolute;
		top:0;
		left:0;
		opacity: 0;
		visibility: hidden;
		transition: all 300ms ease-in-out;
		&:hover {
			.menu_bar {
				background: $orange;
			}
		}
		.menu_bar {
			width:100%;
			height:6px;
			background: $black;
			margin-bottom:5px;
			transition: all 200ms ease-in-out;
		}
		.menu_title {
			font-size: 15px;
			letter-spacing: 0.1em;
			@include montserratbold;
		}
	}
	
	.menu_wrapper.show {
		opacity: 1;
		visibility: visible;
		
	}
	
	.close.hide {
		opacity: 0;
		visibility: hidden;
	}
	
	
	.close {
		width:54px;
		height:48px;
		position: absolute;
		top:0;
		left:0;
		opacity: 1;
		visibility: visible;
		transition: all 300ms ease-in-out;
		&:hover {
			&:before, &:after {
				background: $orange;
			}
		}
		&:before, &:after {
			content:"";
			display: block;
			position: absolute;
			width:100%;
			top:20px;
			left:0;
			height:6px;
			background: $black;
			transition: all 200ms ease-in-out;
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
	}
	
	
	.tablet_nav {
		//display: none;
		width:100%;
		height:calc(100vh - 133px);
		background:#fff;
		position: fixed;
		top:133px;
		left:0;
		padding:50px 0;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
	}
	
	.tablet_nav_inner {
		max-width:700px;
		margin-left:185px;
		display: flex;
	}
	
	.tablet_col {
		flex-basis:50%;
	}
	
	.tablet_nav_col_one {
		ul.sub-menu {
			display: none;
		}
		ul.menu {
			list-style: none;
			li.current-menu-item {
				a {
					color:$gold;
					border-bottom:4px solid $gold;
				}
			}
			li.menu-item-has-children {
				&:hover {
					a {
						&:before {
							opacity: 1;
						}
						&:after {
							opacity: 0;
						}
					}
				}
				a {
					position: relative;
					&:before, &:after {
						content:"";
						transform: rotate(-90deg);
						transform-origin: top left;
						display: inline-block;
						width:20px;
						height:20px;
						background-size: 20px 20px !important;
						position: absolute;
						top:26px;
						right:-30px;
						transition: all 200ms ease-in-out;
					}
					&:before {
						background: url(#{$themePath}images/nav_arrow-01-gold.svg) no-repeat;
						opacity: 0;
					}
					&:after {
						background: url(#{$themePath}images/nav_arrow-01.svg) no-repeat;
						opacity: 1;
					}
				}
			}
			li.current-menu-ancestor {
				a {
					color:$gold;
					border-bottom:4px solid $gold;
					&:before {
						opacity: 1;
					}
					&:after {
						opacity: 0;
					}
				}
			}
			li {
				text-transform: lowercase;
				margin-bottom:20px;
				@include montserratbold;
				a {
					font-size: 28px;
					color:$black;
					display: inline-block;
					text-decoration: none;
					padding-bottom:8px;
					border-bottom:4px solid transparent;
					transition: all 200ms ease-in-out;
					cursor: pointer;
					&:hover {
						color:$gold;
						border-bottom:4px solid $gold;
					}
				}
			}
			
		}
	}
	
	.tablet_nav_col_two {
		padding-top:48px;
		a.menu_back {
			display: none;
		}
		ul {
			list-style: none;
			li.current-menu-item {
				a {
					color:$gold;
					border-bottom: 4px solid $gold;
				}
			}
			li.orange {
				text-transform: uppercase;
				font-size: 16px;
				letter-spacing: 0.15em;
				@include montserratblack;
				a {
					color:$orange;
				}
			}
			li {
				font-size: 18px;
				text-transform: lowercase;
				margin-bottom:19px;
				@include montserratsemibold;
				a {
					color:$black;
					display: inline-block;
					text-decoration: none;
					padding-bottom:8px;
					border-bottom: 4px solid transparent;
					transition: all 200ms ease-in-out;
					&:hover {
						color:$gold;
						border-bottom: 4px solid $gold;
					}
				}
			}
		}
	}
	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	
	
	.header_right {
		padding-right: 37px;
	}
	
	.tablet_nav {
		padding:74px 0;
	}
	
	
	.tablet_nav_inner {
		display: block;
		max-width:100%;
		margin:0 auto;
		text-align: center;
	}
	
	.tablet_nav_col_one {
		ul.menu {
			li {
				a {
					font-size: 26px;
				}
			}
			li.menu-item-has-children {
				a {
					&:before, &:after {
						display: none;
					}
				}
			}
			li.current-menu-item, li.current-menu-ancestor {
				margin-bottom: 30px;
			}
		}
	}
	
	.tablet_nav_col_two {
		display: none;
		padding-top:0;
		a.menu_back {
			display: inline-block;
			margin-bottom:30px;
			color:$orange;
			text-transform: uppercase;
			font-size: 16px;
			text-decoration: none;
			letter-spacing: 0.15em;
			cursor: pointer;
			position: relative;
			@include montserratblack;
			&:before {
				content:"";
				transform: rotate(90deg);
				transform-origin: 0 0 0;
				display: inline-block;
				width:15px;
				height:10px;
				background-size: 15px 10px;
				position: absolute;
				top:0px;
				left:-7px;
				transition: all 200ms ease-in-out;
				background: url(#{$themePath}images/nav_arrow-01-orange.svg) no-repeat;
			}
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	
	header {
		flex-direction: column;
		height: 188px;
		box-shadow: none;
	}
	
	
	header.open-menu {
		height:107px;
	}
	
	.header_left {
		flex-basis:auto;
		flex-shrink: 0;
		height:107px;
		background: #fff;
		padding:3px 10px 0;
		position: relative;
		z-index: 100;
		box-shadow: 0px 4px 5.6px 1.4px rgba(0, 0, 0, 0.11);
	}
	


	
	.header_right {
		flex-basis: auto;
		flex-shrink: 0;
		height:81px;
		background: $black;
		padding-left:21px;
		padding-right:19px;
		justify-content: space-between;
		a, span {
			text-align: left;
		}
		a {
			font-size: 28px;
		}
		span {
			color:#fff;
			margin-top: 7px;
			font-size:10px;
		}
	}
	
	.phone_consultation_wrapper {
		margin-top:11px;
	}
	
	.desktop_logo {
		display: none;
	}
	
	.vertical_logo {
		margin:0 auto;
	}
	
	.mobile_logo {
		display: block;
	}
	
	.open_close_wrapper {
		margin-left:0px;
	}
	
	.menu_wrapper {
		&:hover {
			.menu_bar {
				background: #fff;
			}
		}
		.menu_bar {
			background: #fff;
		}
		.menu_title {
			color:#fff;
		}
	}
	
	.close {
		&:before, &:after {
			background:$orange;
		}
	}
	
	
	.tablet_nav {
		z-index:5;
		top: 107px;
		padding: 88px 0 50px;
	}
	
	.mobile_close {
		display: block;
		width: 48px;
    height: 48px;
		position: absolute;
		top: 20px;
    right: 20px;
		opacity: 1;
		visibility: visible;
		transition: all 300ms ease-in-out;
		&:hover {
			&:before, &:after {
				background: $orange;
			}
		}
		&:before, &:after {
			content:"";
			display: block;
			position: absolute;
			width:100%;
			top:20px;
			left:0;
			height:6px;
			background: $black;
			transition: all 200ms ease-in-out;
		}
		&:before {
			transform: rotate(-45deg);
		}
		&:after {
			transform: rotate(45deg);
		}
		
	}
	
	
	.tablet_nav_col_one {
		ul.menu {
			li {
				margin-bottom: 16px;
				a {
					font-size: 20px;
				}
			}
		}
	}
	
	
	.tablet_nav_col_two {
		ul {
			li {
				font-size: 16px;
				margin-bottom: 20px;
			}
			li.orange {
				a {
					font-size: 14px;
					letter-spacing: 0.15em;
				}
			}
		}
	}
	
	
} /* Media Query */

