
.internal_main {
	margin-top:133px;
	overflow-x:hidden;
}


.internal_banner {
	width:100%;
	height:400px;
	position: relative;
	padding:0 100px;
	img.banner_image {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
	}
}


.banner_content {
	max-width:1560px;
	margin:0 auto;
	position: relative;
	z-index:1;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.banner_title {
		color:#fff;
		font-size: 59px;
		line-height: 81px;
		@include montserratbold;
		.banner_header {
			display: inline-block;
			&:after {
				content:"";
				display: block;
				width:100%;
				height:3px;
				margin-top:-5px;
				background: $orange;
			}
		}
	}
	.banner_header.cat_title {
		font-size:64px;
	}
}


a.internal_consultation_button {
	background: $orange;
	display: inline-block;
	color:#fff;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	width:100%;
	max-width:343px;
	font-size: 18px;
	margin-top:30px;
	padding:25px 10px;
	@include montserratbold;
}


.internal_container {
	min-height:700px;
	padding-left:100px;
	padding-right:100px;
	padding-bottom:195px;
}


.two_col {
	display: flex;
	max-width:1625px;
	margin:155px auto 0;
}


.internal_wrapper {
	padding-top:155px;
	h1.internal_header {
		text-align: center;
		text-transform: uppercase;
		font-size: 55px;
		letter-spacing: 0.2em;
		@include montserratblack;
	}
}


.sidebar_wrapper {
	flex-basis:499px;
	flex-shrink:0;
	margin-bottom:130px;
}


.sidebar_box {
	background: $white;
	padding:90px 60px 70px;
	h3 {
		color:$orange;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 0.2em;
		margin-bottom:67px;
		@include montserratblack;
	}
	ul {
		list-style: none;
		li {
			text-transform: lowercase;
			font-size: 18px;
			padding-bottom:30px;
			a {
				color:$blue;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				border-bottom:4px solid transparent;
				padding-bottom:3px;
				cursor: pointer;
				&:hover {
					color:$gold;
					border-bottom:4px solid $gold;
				}
			}
		}
	}
	ul.menu {
		li {
			@include sourcesansbold;
		}
		> li.current-menu-item {
			> a {
					color:$gold;
					border-bottom:4px solid $gold;
			}
		}
		> li.menu-item-has-children {
				> a {
						&:hover {
							&:before {
								opacity: 1;
							}
							&:after {
								opacity: 0;
							}
					}
				}
			> a {
				position: relative;
				&:before, &:after {
					content: "";
					display: inline-block;
					width: 32px;
					height: 9px;
					background-size: 16px 9px;
					position: absolute;
					top: 9px;
					right: -22px;
					transition: all 200ms ease-in-out;
				}
				&:before {
					background: url(/wp-content/themes/garyjohnson/images/nav_arrow-01-gold.svg) no-repeat top right;
					opacity: 0;
				}
				&:after {
					background: url(/wp-content/themes/garyjohnson/images/nav_arrow-01.svg) no-repeat top right;
					opacity: 1;
				}
			}
		}
		> li.current-menu-ancestor {
				> a {
						color:$gold;
						border-bottom:4px solid $gold;
						&:before {
							opacity: 1;
						}
						&:after {
							opacity: 0;
						}
				}
		}
	}
	ul.sub-menu {
		padding:35px 0 0 40px;
		display: none;
		>li.current-menu-item {
			> a {
					color:$gold;
					border-bottom: 4px solid #c3984f;
				}
		}
		li {
			@include sourcesanssemibold;
			&:last-of-type {
				padding-bottom:10px;
			}
		}
	}
}


.internal_content {
	flex-grow:1;
	padding-left: 8%;
	margin-top:-13px;
}


.blockquote_wrapper {
	width:100%;
	margin:128px 0 105px -50px;
	position: relative;
	height:559px;
	
	.blockquote_inner {
		position: absolute;
		top:0;
		left:0;
		width:200%;
		padding:86px 0 95px 120px;
		.blockquote_content {
			max-width: 750px;
			font-size: 45px;
			line-height: 76px;
			@include montserratbold;
			strong {
				padding-bottom:6px;
				border-bottom:5px solid $orange;
			}
		}
		.blockquote_name {
			color:$gold;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 0.2em;
			margin-top:40px;
			@include montserratblack;
		}
	}
}


.small_sidebar_box {
	width:100%;
	margin-top:120px;
	.small_sidebar_inner {
		max-width: 322px;
		margin:0 auto;
		border-top:3px solid $orange;
		span.small_sidebar_title {
			font-size: 24px;
			margin-top:15px;
			margin-bottom:40px;
			display: block;
			@include montserratblack;
		}
		.small_sidebar_video {
			position: relative;
			height:430px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			&:hover {
				.play_button {
					background: rgba(195,152,79,0.9);
				}
			}
			img {
				display: block;
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				object-fit:cover;
			}
		}
		.play_button {
			position: relative;
			z-index: 1;
			height:145px;
			width:145px;
			transition: all 200ms ease-in-out;
		}
	}
}


@media screen and (max-width: 1600px) {
	
	
	.blockquote_wrapper {
		.blockquote_inner {
			.blockquote_content {
				max-width: 670px;
			}
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1490px) {
	
	.blockquote_wrapper {
		.blockquote_inner {
			.blockquote_content {
				max-width: 575px;
			}
		}
	}
	
	    
	.sidebar_wrapper {
		flex-basis: 457px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1380px) {
	
	
	.internal_container {
    padding-bottom:150px;
	}
	
	
	.two_col {
		flex-direction: column;
	}
	
	.sidebar_wrapper {
		order:2;
		margin-top:35px;
		margin-bottom: 0px;
		flex-basis: 100%;
	}
	
	.internal_content {
		order:1;
		padding-left:0;
	}
	
	
	.blockquote_wrapper {
		margin: 128px 0 105px 0px;
		.blockquote_inner {
			.blockquote_content {
				max-width: 745px;
			}
		}
	}
	
	
	
	.small_sidebar_box {
		
		.small_sidebar_inner {
			max-width: 422px;
			.play_button {
				padding-left:20px;
				padding-right:20px;
				&:after {
					
				}
			}
		}
	}
	
	
	.small_sidebar_box {
		margin-top: 90px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 1200px) {
	
	
	.blockquote_wrapper {
		.blockquote_inner {
			 padding: 86px 0 95px 75px;
			.blockquote_content {
				
			}
		}
	}
	
	   
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	.internal_banner {
		display: none;
	}
	
	.internal_container {
		padding:90px 87px 100px;
	}
	
	
	.two_col {
		margin: 0px auto;
	}
	
	
	.sidebar_box {
		padding: 50px 35px 35px;
		h3 {
			margin-bottom: 45px;
		}
	}
	
	.blockquote_wrapper {
		height:auto;
		width:calc(100% + 174px);
		margin: 117px 0 55px -87px;
		.blockquote_inner {
			 position: relative;
			 width:100%;
			 padding: 95px 87px 79px;
			.blockquote_content {
				max-width:100%;
				font-size: 39px;
				line-height: 66px;
			}
		}
	}
	
	
	.internal_wrapper {
		h1.internal_header {
			font-size: 40px;
			line-height: 50px;
		}
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	.internal_container {
    padding: 50px 33px 70px;
	}
	
	.internal_main {
		margin-top: 188px;
	}
	
	
	.internal_wrapper {
		h1.internal_header {
			font-size: 31px;
			line-height: 34px;
		}
	}
	
	
	.blockquote_wrapper {
		margin: 62px 0 32px -33px;
		width: calc(100% + 66px);
		.blockquote_inner {
			padding: 52px 33px 60px;
			.blockquote_content {
				font-size: 32px;
				line-height: 54px;
			}
			.blockquote_name {
				font-size: 14px;
				 margin-top: 27px;	
			}
		}
	}


} /* Media Query */
