.att_bio_wrapper {
	display: flex;
	max-width:1295px;
	margin:135px auto 0;
}


span.att_bio_position {
	color:$gold;
	text-transform: uppercase;
	font-size: 30px;
	display: block;
	text-align: center;
	margin:30px auto 0;
	letter-spacing: 0.2em;
	@include montserratblack;
}

.att_bio_left {
	flex-basis:480px;
	flex-shrink: 0;
	.att_bio_image {
		img {
			width:100%;
			height:auto;
			display: block;
		}
	}
	.att_bio_info {
		padding-left:35px;
		ul {
			list-style: none;
			margin:58px 0 0;
			li {
				span, a {
					display: block;
				}
				a {
					margin-bottom:17px;
					text-decoration: none;
					transition: all 200ms ease-in-out;
					&:hover {
						color:$orange;
					}
				}
				.att_bio_info_title {
					color:$orange;
					font-size: 16px;
					letter-spacing: 0.2em;
					text-transform: uppercase;
					margin-bottom:15px;
					margin-top:20px;
					@include montserratblack;
				}
				.att_bio_info_content {
					color:$blue;
					font-size: 20px;
					@include notoserifbold;
				}
				a.email_me {
					margin-bottom: 0;
					display: inline-block;
					&:after {
						content:"";
						display: block;
						width:100%;
						height:2px;
						margin-top:5px;
						background: $blue;
						transition: all 200ms ease-in-out;
					}
					&:hover {
						&:after {
							background: $orange;
						}
					}
				}
			}
		}
	}
}


.att_bio_right {
	flex-grow:1;
	padding-left:9%;
	margin-top:7px;
	&:before {
		content:"";
		display: block;
		width:100%;
		height:5px;
		background: $orange;
	}
}

.att_bio_stats {
	max-width:1295px;
	margin:95px auto 0;
	height:7000px;
	ul {
		list-style: none;
	}
	ul.att_bio_stats_menu {
		&:last-of-type {
			> li {
					border-bottom:5px solid $gold;
			}
		}
		> li {
				text-transform: uppercase;
				font-size: 17px;
				line-height: 20px;
				letter-spacing: 0.2em;
				border-top:5px solid $gold;
				padding:36px 73px;
				position: relative;
				@include montserratblack;
				.stat_arrow {
					position: absolute;
					top:37px;
					right:65px;
					svg {
						width:20px;
						height:25px;
					}
				}
		}
		
	}
	ul.att_bio_stats_submenu {
		display: none;
		li {
			
		}
	}
}