

.pa_directory_wrapper {
	text-align: center;
	margin:128px auto 0;
	max-width: 1665px;
	ul {
		list-style: none;
		li {
			a {
				text-decoration: none;
			}
		}
	}
	ul.menu {
		> li {
			font-size: 30px;
			@include notoserifbold;
			&:last-of-type {
				ul.sub-menu {
					margin-bottom: 55px;
				}
			}
			 > a {
				 	color:$gold;
			 }
			}
	}
	ul.sub-menu {
		display: flex;
		flex-wrap: wrap;
		margin:60px auto 160px;
		li {
			text-transform: lowercase;
			font-size: 18px;
			line-height: 21px;
			flex-basis:calc(25% - 90px);
			margin:0 45px 0;
			text-align: left;
			border-bottom:1px solid #dbdbdf;
			height:78px;
			display: flex;
			align-items: center;
			transition: all 200ms ease-in-out;
			background: transparent;
			@include sourcesansbold;
			&:hover {
				background: $orange;
				a {
					color:#fff;
				}
			}
			a {
				color:$blue;
				padding:0 45px;
				display: block;
				transition: all 200ms ease-in-out;
			}
		}
	}
}


@media screen and (max-width: 1500px) {
	
	
	
.pa_directory_wrapper {
	ul {
		
		li {
			a {
				
			}
		}
	}
	ul.menu {
		> li {
			
			&:last-of-type {
				ul.sub-menu {
					
				}
			}
			 > a {
				 	
			 }
			}
	}
	ul.sub-menu {
		li {
			flex-basis: calc(33% - 90px);
			&:hover {
				a {
				
				}
			}
			a {
				
			}
		}
	}
}

	
	
	
} /* Media Query */


@media screen and (max-width: 1230px) {
	
	
.pa_directory_wrapper {
	ul {
		
		li {
			a {
				
			}
		}
	}
	ul.menu {
		> li {
			
			&:last-of-type {
				ul.sub-menu {
					
				}
			}
			 > a {
				 	
			 }
			}
	}
	ul.sub-menu {
		justify-content: space-between;
		li {
			flex-basis: 47%;
			margin:0;
			&:hover {
				a {
				
				}
			}
			a {
				
			}
		}
	}
}

	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	.pa_directory_wrapper {
		margin: 55px auto 0;
		ul.menu {
			li {
				&:last-of-type {
					ul.sub-menu {
						margin-bottom:0;
					}
				}
			}
		}
		ul.sub-menu {
			margin: 50px auto 80px;
			display: block;
		}
	}
	
	    
	
	
} /* Media Query */

