

.testimonial_wrapper {
	max-width: 1385px;
	margin:150px auto 0;
	display: flex;
	justify-content: space-between;
}


.testi_col {
	flex-basis:44%;
}

.single_testl {
	padding-bottom:153px;
	&:before {
		content:"";
		display: block;
		width:100%;
		height:4px;
		background:$orange;
		margin-bottom:27px;
	}
	.single_test_content {
		p {
			margin-bottom: 25px;
			font-size: 31px;
			line-height: 50px;
			@include notoserifreg;
		}
		span.testi_name {
			color:$gold;
			display: block;
			padding-top:15px;
			text-transform: uppercase;
			font-size: 18px;
			letter-spacing: 0.2em;
			@include montserratblack;
		}
	}
}