



.blog_feed {
	
}


.blog_post {
	h2 {
		font-size: 44px;
		line-height: 54px;
		@include montserratblack;
		a {
			color:$blue;
			text-decoration: none;
		}
	}
}

.blog_meta {
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.1em;
	@include sourcesansbold;
	span.date {
		display: inline;
		&:after {
			content:"|";
			color:$gold;
			display: inline-block;
			margin-left:16px;
		}
	}
	ul {
		display: inline;
		margin-bottom: 0;
		li {
			display: inline;
			padding-left:0;
			margin-left:16px;
			margin-bottom:0;
			&:last-of-type {
				&:after {
					display: none;
				}
			}
			&:before {
				display: none;
			}
			&:after {
				content:"|";
				color:$gold;
				display: inline-block;
				margin-left:16px;
			}
			a {
				color:$blue;
				text-decoration: none;
			}
		}
	}
}