
.internal_main {
	margin-top:133px;
	overflow-x:hidden;
}


.internal_banner {
	width:100%;
	height:400px;
	position: relative;

	img.banner_image {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		object-fit:cover;
	}
}


.banner_content {
	max-width:1560px;
	margin:0 auto;
	position: relative;
	z-index:1;
	height:100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.banner_title {
		color:#fff;
		font-size: 59px;
		line-height: 81px;
		@include montserratbold;
		span {
			display: inline-block;
			&:after {
				content:"";
				display: block;
				width:100%;
				height:3px;
				margin-top:-5px;
				background: $orange;
			}
		}
	}
}


a.internal_consultation_button {
	background: $orange;
	display: inline-block;
	color:#fff;
	text-align: center;
	text-transform: lowercase;
	text-decoration: none;
	width:100%;
	max-width:343px;
	font-size: 18px;
	margin-top:30px;
	padding:25px 10px;
	@include montserratbold;
}


.internal_container {
	min-height:700px;
	padding-bottom:195px;
}


.two_col {
	display: flex;
	max-width:1425px;
	margin:155px auto 0;
	//margin:155px 0 0 237px;
}


.sidebar_wrapper {
	flex-basis:499px;
	flex-shrink:0;
}


.sidebar_box {
	background: $white;
	padding:90px 60px 70px;
	h3 {
		color:$orange;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 0.2em;
		margin-bottom:67px;
		@include montserratblack;
	}
	ul {
		list-style: none;
		li {
			text-transform: lowercase;
			font-size: 18px;
			padding-bottom:30px;
			
			a {
				color:$blue;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				border-bottom:4px solid transparent;
				padding-bottom:3px;
				cursor: pointer;
				&:hover {
					color:$gold;
					border-bottom:4px solid $gold;
				}
			}
		}
	}
	ul.menu {
		li {
			@include sourcesansbold;
		}
		> li.menu-item-has-children {
				> a {
						&:hover {
							&:before {
								opacity: 1;
							}
							&:after {
								opacity: 0;
							}
					}
				}
			> a {
				position: relative;
				&:before, &:after {
					content: "";
					display: inline-block;
					width: 32px;
					height: 9px;
					background-size: 16px 9px;
					position: absolute;
					top: 9px;
					right: -22px;
					transition: all 200ms ease-in-out;
				}
				&:before {
					background: url(/wp-content/themes/garyjohnson/images/nav_arrow-01-gold.svg) no-repeat top right;
					opacity: 0;
				}
				&:after {
					background: url(/wp-content/themes/garyjohnson/images/nav_arrow-01.svg) no-repeat top right;
					opacity: 1;
				}
			}
		}
	}
	ul.sub-menu {
		padding:35px 0 0 40px;
		display: none;
		li {
			@include sourcesanssemibold;
			&:last-of-type {
				padding-bottom:10px;
			}
		}
	}
}


.internal_content {
	flex-grow:1;
	padding-left: 8%;
	margin-top:-13px;
}


.blockquote_wrapper {
	width:100%;
	padding:90px 50px;
	margin:128px 0 105px -50px;
	position: relative;
	height:559px;
	
	.blockquote_inner {
		position: absolute;
		top:0;
		left:0;
		width:200%;
		padding:86px 0 95px 120px;
		.blockquote_content {
			max-width: 750px;
			font-size: 45px;
			line-height: 76px;
			@include montserratbold;
			strong {
				padding-bottom:6px;
				border-bottom:5px solid $orange;
			}
		}
		.blockquote_name {
			color:$gold;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: 0.2em;
			margin-top:40px;
			@include montserratblack;
		}
	}
}
