

.sidebar_wrapper.blog {
	.sidebar_box {
		margin-bottom:85px;
		padding: 90px 60px 56px;
		&:last-of-type {
			margin-bottom:0;
		}
		.sidebar_box_inner {
			max-width:310px;
			margin-left:auto;
			margin-right:auto;
		}
		h3 {
			margin-bottom: 59px;
		}
		ul {
			li {
				&:last-of-type {
					a {
						span.sidebar_post_title {
							margin-bottom:0;
						}
					}
				}
				a {
					span {
						display: block;
					}
					span.sidebar_post_date {
						text-transform: uppercase;
						color:$gold;
						font-size: 14px;
						letter-spacing: 0.1em;
						margin-bottom:7px;
						@include montserratblack;
					}
					span.sidebar_post_title {
						font-size: 18px;
						line-height: 28px;
						margin-bottom:15px;
						text-transform: none;
						@include sourcesansbold;
					}
				}
			}
			li.active {
				a {
					span.sidebar_post_title {
						color:$gold;
					}
				}
			}
		}
	}
	.sidebar_box.cat_box {
		ul {
			li {
				font-size:18px;
				@include sourcesansbold;
				a {
					padding-bottom: 4px;
					border-bottom:4px solid transparent;
					&:hover {
						border-bottom:4px solid $gold;
					}
				}
			}
			li.active {
				a {
					color:$gold;
				}
			}
		}
	}
}



.blog_feed {
	margin-top:-23px;
}


.blog_post {
	margin-bottom:95px;
	h2 {
		font-size: 44px;
		line-height: 54px;
		@include montserratblack;
		a {
			color:$blue;
			transition: all 200ms ease-in-out;
			text-decoration: none;
			&:hover {
				color:$gold;
			}
		}
	}
}

.blog_meta {
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.1em;
	padding-bottom:33px;
	border-bottom: 5px solid $orange;
	margin-bottom:31px;
	@include sourcesansblack;
	span.date {
		display: inline;
		&:after {
			content:"|";
			color:$gold;
			display: inline-block;
			margin-left:16px;
		}
	}
	ul {
		display: inline;
		margin-bottom: 0;
		li {
			display: inline;
			padding-left:0;
			margin-left:16px;
			margin-bottom:0;
			&:last-of-type {
				&:after {
					display: none;
				}
			}
			&:before {
				display: none;
			}
			&:after {
				content:"|";
				color:$gold;
				display: inline-block;
				margin-left:16px;
			}
			a {
				color:$blue;
				text-decoration: none;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$gold;
				}
			}
		}
	}
}


a.blog_read_more {
	background: $orange;
	color:#fff;
	margin-top:35px;
	text-decoration: none;
	padding:15px 50px;
	font-size: 16px;
	display: inline-block;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	transition: all 200ms ease-in-out;
	@include montserratblack;
	&:hover {
		background: $gold;
		color:#fff;
	}
}


.navigation {
	ul {
		display: inline-block;
		li.active {
			a {
				color:$gold;
			}
		}
		li {
			display: inline-block;
			padding:0;
			margin:0;
			text-transform: uppercase;
			margin-right:15px;
			letter-spacing: 0.1em;
			@include sourcesansblack;
			&:before {
				display: none;
			}
			a {
				text-decoration: none;
				color:$blue;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$gold;
				}
			}
		}
	}
}


body.single {
	.content {
		h1 {
			margin-bottom:45px;
			&:after {
				display: none;
			}
		}
	}
}


@media screen and (max-width: 1380px) {
	
	
	
	
	.sidebar_wrapper.blog {
		.sidebar_box {
			.sidebar_box_inner {
				margin:0;
				max-width:100%;
			}
		}
	}
	
	
	.blog_post {
		margin-bottom: 65px;
		h2 {
			padding-top:0;
			font-size: 44px;
			line-height: 53px;
			a {
				
			}
		}
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
	.sidebar_wrapper.blog {
		.sidebar_box {
	    padding: 50px 60px 35px;
	    h3 {
		   	margin-bottom: 45px;
	    }
	  }
	}
	
	
	
	body.category, body.archive {
		.internal_banner {
			display: block;
			height:auto;
			padding: 73px 87px 0;
			img.banner_image {
				display: none;
			}
		}
		.banner_content {
			.banner_title {
				.banner_header {
					color:$blue;
					border-bottom: 5px solid #e75841;
					font-size: 44px;
					line-height: 53px;
					display: block;
					padding-bottom: 30px;
					@include montserratblack;
					&:after {
						display: none;
					}
				}
			}
		}
		a.internal_consultation_button {
			display: none;
		}
	}
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	
	.sidebar_wrapper.blog {
		.sidebar_box {
	    margin-bottom: 55px;
	    padding: 50px 35px 35px;
	  }
	}
	
	
	.blog_feed {
		margin-top:0;
	}
	
	.blog_post {
		h2 {
			font-size: 37px;
			line-height: 46px;
   	}
	}
	
	
	
	body.category, body.archive {
		.internal_banner {
			padding: 37px 33px 0;
			img.banner_image {
				
			}
		}
		.banner_content {
			.banner_title {
				.banner_header {
					font-size: 37px;
					line-height: 46px;
					&:after {
						
					}
				}
			}
		}
		a.internal_consultation_button {
			
		}
	}
	
	.blog_meta {
		padding-bottom: 40px;
	}
	
	body.single {
		.blog_meta {
			padding-bottom: 20px;
		}
	}
	
} /* Media Query */

