

.judo_law_wrapper {
	margin:175px auto 0;
	display: flex;
	max-width: 1490px;
	
	justify-content: space-between;
}


.judo_law_left {
	flex-grow:1;
	padding-right:8%;
	&:before {
		content:"";
		display: block;
		width:100%;
		height: 5px;
		background: $orange;
		margin-bottom: 15px;
	}
	h2 {
		
	}
	blockquote {
		font-size: 24px;
		color:$orange;
		padding:34px 35px 55px;
		line-height: 41px;
		a {
			color:$orange;
			border-bottom: 1px solid $orange;
			transition: all 200ms ease-in-out;
			text-decoration: none;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
		@include montserratbold;
		p {
			margin-bottom: 0;
		}
	}
}


.judo_law_right {
	flex-basis: 665px;
	flex-shrink: 0;
}

.judo_law_video_wrapper {
	position: relative;
	cursor: pointer;
	&:hover {
		.judo_law_video_overlay {
			background: rgba(10,13,40,0.6);
		}
	}
	img {
		width: 100%;
		height:auto;
		display: block;
	}
	.judo_law_video_overlay {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: rgba(10,13,40,0.8);
		display: flex;
		justify-content: center;
		transition: all 200ms ease-in-out;
		align-items: center;
		.judo_law_video_content {
			text-align: center;
			.judo_law_logo_wrapper {
				width:195px;
				height:195px;
				border-radius: 50%;
				border:3px solid #fff;
				background: rgba(234,87,63,0.9);
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
						width:100px;
						height:100px;
					}
				}
			}
			span.click_watch {
				color:#fff;
				display: inline-block;
				margin-top:40px;
				border-bottom: 4px solid #fff;
				text-transform: lowercase;
				padding-bottom:9px;
				@include montserratblack
			}
		}
}

@media screen and (max-width: 1520px) {
	
	
	.judo_law_right {
	  flex-basis: 595px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1375px) {
	
	
	.judo_law_left {
		padding-right:0;
	}
	
	.judo_law_right {
	   flex-basis: 545px;
	   margin:50px auto 0;
	   max-width:700px;
		 flex-basis: auto;
	}
	
	.judo_law_wrapper {
		flex-direction: column;
		margin: 145px auto 0;
		max-width: 935px;
	}

	
	
} /* Media Query */



@media screen and (max-width: 1066px) {
	
	
	
	
	.judo_law_right {
	   
	}
	
	.judo_law_wrapper {
		margin: 20px auto 0;
	}
	
	
	body.page-template-template-judo-law {
		h1.internal_header {
			text-align: left;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.judo_law_right {
    margin: 20px auto 0;
   }
   
   
   .judo_law_left {
	   blockquote {
		   padding: 10px 0px 40px;
	   }
   }
   
   
   .judo_law_video_wrapper {
	   .judo_law_video_overlay {
		   .judo_law_video_content {
			   .judo_law_logo_wrapper {
				    width: 155px;
						height: 155px;
						svg {
							width: 70px;
							height: 70px;
						}
			   }
		   }
	   }
   }
	
	
} /* Media Query */


@media screen and (max-width: 530px) {
	
	
	.judo_law_video_wrapper {
		height:305px;
		img {
			object-fit:cover;
			width:100%;
			height:100%;
		}
	   .judo_law_video_overlay {
		   .judo_law_video_content {
			   .judo_law_logo_wrapper {
				    width: 125px;
						height: 125px;
						svg {
							width: 50px;
							height: 50px;
						}
			   }
		   }
		  span.click_watch {
			  margin-top: 30px;
		  }
		 }
   }
	
} /* Media Query */
