

.video_center_wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin:145px auto 30px;
	max-width: 1460px;
	&:after {
		content:"";
		flex-basis: 31%;
	}
}


.single_video {
	flex-basis: 31%;
	height:420px;
	margin-bottom:65px;
	&:hover {
		.single_video_thumbnail {
			.my_wistia {
				.play_button_overlay {
					.play_button {
						background: rgba(195,152,79,0.9);
					}
				}
			}
		}
	}
	.single_video_thumbnail {
		position: relative;
		height:307px;
		.my_wistia {
			.video {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
			}
			.play_button_overlay {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				z-index: 1;
				display: flex;
				justify-content: center;
				align-items: center;
				pointer-events: none;
				.play_button {
					background: rgba(234,87,63,0.9);
					width:123px;
					height:123px;
					&:after {
						font-size: 17px;
						line-height: 21px;
					}
				}
			}
		}
	}
	span.video_title {
		color: $gold;
		display: block;
		font-size: 22px;
		margin-top:31px;
		line-height: 25px;
		@include sourcesansbold;
	}
}


@media screen and (max-width: 1385px) {
	
	
.video_center_wrapper {
	max-width: 1000px;
	&:after {
		flex-basis: 48%;
	}
}


.single_video {
	flex-basis: 48%;
}

	
	
} /* Media Query */


@media screen and (max-width: 980px) {
	
	
	
.video_center_wrapper {
	display: block;
	max-width: 520px;
}


.single_video {
	height:auto;
	&:last-of-type {
		margin-bottom:0;
	}
	span.video_title {
		max-width: 360px;
	}
}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	.video_center_wrapper {
		margin:55px auto 0;
	}
	
	
	.single_video {
		margin-bottom: 45px;
		span.video_title {
			margin-top: 22px;
		}
	}

	
	
	
} /* Media Query */