

.about_top_wrapper {
	display: flex;
	max-width:1505px;
	justify-content: space-between;
	margin: 122px auto 137px;
}


.about_top_left {
	flex-basis:46%;
	margin-top:6px;
	&:before {
		content:"";
		display: block;
		width:100%;
		height:5px;
		background: $orange;
		margin-bottom:13px;
	}
}

.about_top_right {
	flex-basis:50%;
	display: flex;
	margin-top:-2px;
	justify-content: flex-end;
}


	.about_right_video_wrapper {
		max-width:625px;
		cursor: pointer;
		position: relative;
		.my_wistia {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index:1;
		}
		&:hover {
			.play_button_overlay {
				.play_button {
					background: rgba(195,152,79,0.9);
				}
			}
		}
		span.about_right_title {
			text-transform: uppercase;
			text-transform: uppercase;
			color:$orange;
			letter-spacing: 0.2em;
			display: block;
			text-align: right;
			margin-bottom:20px;
			@include montserratblack;
		}
		.about_right_video {
			position: relative;
			img.about_video_thumb {
				max-width: 100%;
				height:auto;
				display: block;
			}
			.play_button_overlay {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				display: flex;
				justify-content: center;
				align-items: center;
				.play_button {
					width:205px;
					height:205px;
					&:after {
						font-size: 28px;
						line-height: 35px;
					}
				}
			}
		}
	}
	
	
	
	
	.about_bottom_wrapper {
		display: flex;
	}
	
	.about_bottom_left {
		flex-basis:45%;
		margin-top:10px;
		a.about_blockquote_button {
			background: $orange;
			color:#fff;
			text-decoration: none;
			text-transform: lowercase;
			font-size: 18px;
			margin-top: 60px;
			padding:25px 30px;
			display: inline-block;
			box-shadow: 0px 4px 8px 0px rgba(10, 25, 57, 0.3);
			transition: all 200ms ease-in-out;
			@include montserratbold;
			&:after {
				content:"Click for your free consultation";
				display: block;
			}
			&:hover {
				background: $gold;
			}
		}
	}


	
	.about_bottom_blockquote {
		margin-left:-100px;
		.about_bottom_blockquote_inner {
			padding:114px 0 143px 210px;
			.about_bottom_blockquote_content {
				max-width: 540px;
				strong {
					font-size: 60px;
					line-height: 94px;
					display: inline-block;
					position: relative;
					&:nth-of-type(3), &:nth-of-type(4) {
						&:after {
							top:80px;
						}
					}
					&:after {
						content:"";
						display: block;
						width:100%;
						height:6px;
						background: $orange;
						position: absolute;
						top:89px;
						left:0;
					}
					@include montserratbold;
				}
			}
		}
	}
	
	.about_bottom_right {
		flex-basis:50%;
		padding-left:9%;
		&:before {
			content:"";
			display: block;
			width:100%;
			height:5px;
			background: $orange;
			margin-bottom:58px;
		}
	}
	
	
	
	.about_awards_wrapper {
		margin: 206px auto 0;
		max-width:1425px;
		span.about_awards_title {
			display: block;
			text-transform: uppercase;
			color:$gold;
			text-align: center;
			font-size: 16px;
			letter-spacing: 0.2em;
			@include montserratblack;
		}
	}
	
	
	
	.about_awards_slider {
		margin:110px 0 0;
		.slick-dots {
		bottom: -60px;
		li.slick-active {
			button {
				&:before {
					color:$orange;
				}
			}
		}
		li:hover {
			button {
				&:before {
					color:$orange;
				}
			}
		}
		li {
			margin:0;
			width:16px;
			button {
				width:16px;
				&:before {
					width:16px;
					opacity: 1;
					color: $gold;
					font-size:26px;
				}
			}
		}
		}
	}
	
	
	
	.about_awards_slide {
		.about_awards_slide_inner {
			display: flex;
			justify-content: center;
			align-items: center;
			height:100%;
			img {
				width:100%;
				width:auto;
				max-height:111px;
				display: block;
				margin:0 auto;
			}
		}
	}
	
	
	@media screen and (max-width: 1745px) {
		
		
		.about_bottom_blockquote {
			.about_bottom_blockquote_inner {
				padding: 110px 0 143px 15%;
			}
		}
		
		
	} /* Media Query */
	
	
	@media screen and (max-width: 1710px) {
		
		
		.about_bottom_right {
			position: relative;
			padding-left: 4%;
			right: -65px;
		}
		
		
		.about_bottom_blockquote {
			.about_bottom_blockquote_inner {
				padding: 114px 0 143px 100px;
			}
		}
		
		
		
	} /* Media Query */
	
	@media screen and (max-width: 1475px) {
		
		
		.about_top_left {
			flex-basis:53%;
		}
		
		.about_top_right {
			flex-basis:40%;
		}
		
		
		.about_bottom_blockquote {
			.about_bottom_blockquote_inner {
				.about_bottom_blockquote_content {
					strong {
						font-size: 50px;
						line-height: 83px;
						&:nth-of-type(3), &:nth-of-type(4) {
							&:after {
							 top: 71px;
							}
						}
						&:after {
							top: 76px;
						}
					}
				}
			}
		}
		
		
	} /* Media Query */
	
	
	
	@media screen and (max-width: 1345px) {
		
		
		
		.about_top_wrapper {
			display: block;
			margin-bottom:70px;
		}
		
		.about_top_right {
			margin:90px 0;
			justify-content: center;
		}
		
		
		.about_bottom_wrapper {
			flex-direction: column;
		}
		
		.about_bottom_right {
			order:1;
			right:0;
			padding-left:0;
		}
		
		.about_bottom_left {
			order:2;
			margin-top:40px;
		}
		
		
		.about_bottom_blockquote {
			margin-top: 36px;
			.about_bottom_blockquote_inner {
				padding: 86px 0 95px;
				max-width:700px;
					margin:0 auto;
				//padding: 110px 0 143px 100px;
				.about_bottom_blockquote_content {
					max-width:100%;
					span {
						border-bottom:5px solid $orange;
						padding-bottom:8px;
					}
					strong {
						font-size: 45px;
						line-height: 76px;
						display: inline;
						border-bottom: none;
						padding-right:6px;
						//border-bottom:5px solid $orange;
						&:after {
							display: none;
						}
					}
				}
			}
		}
		
		
		.about_awards_wrapper {
    	margin: 130px auto 0;
    }
		
		
	} /* Media Query */
	
	
	@media screen and (max-width: 1066px) {
		
		
		
		.about_top_wrapper {
			margin: 24px auto;
		}
		
		body.page-template-template-about {
			.internal_wrapper {
				h1.internal_header {
					text-align: left;
				}
			}
		}
		
		.about_bottom_left {
			a.about_blockquote_button {
				margin-top: 44px;
			}
		}
		
		
		
		
		.about_bottom_blockquote {
			width: calc(100% + 174px);
			margin: 0px 0 37px -87px;
			.about_bottom_blockquote_inner {
				padding: 86px 87px 95px;
				max-width: 100%;
			}
		}
		 
		  .about_awards_wrapper {
			 	margin: 60px auto 30px;
		  }
		  
		  .about_awards_slider {
				margin: 40px 0 0;
			}
			
			
		.about_bottom_blockquote {
			
			.about_bottom_blockquote_inner {
					max-width: 610px;
					margin-left:auto;
					margin-right:auto;
					padding-left:0;
					padding-right:0;
				.about_bottom_blockquote_content {
					max-width:100%;
					strong {
						font-size: 39px;
						line-height: 66px;
						&:after {
							
						}
						&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
							
						}
					}
				}
			}
		}
		
		
		
		
	} /* Media Query */
	
	
	@media screen and (max-width: 767px) {
				
				
				
				.about_top_left {
					&:before {
						margin-bottom:0;
					}
				}
				
				
				
				.about_top_right {
					margin: 60px 0;
				}
				
				
				
				
				.about_right_video_wrapper {
					span.about_right_title {
						text-align: center;
					}
					.about_right_video {
						.play_button_overlay {
							.play_button {
								width: 130px;
								height: 130px;
								&:after {
									font-size: 18px;
									line-height: 21px;
								}
							}
						}
					}
				} 
				
				
				
		body.page-template-template-about {
			.internal_wrapper {
				h1.internal_header {
					font-size: 28px;
					line-height: 34px;
				}
			}
		}
	
	
	
	.about_bottom_blockquote {
		width: calc(100% + 66px);
		margin: 0px 0 37px -33px;
		.about_bottom_blockquote_inner {
			 padding: 50px 33px 51px;
			 max-width: 100%;
			 width:100%;
			.about_bottom_blockquote_content {
				max-width:500px;
				strong {
					font-size: 32px;
					line-height: 54px;
				}
			}	
		}
	}
		
		
		
		   
		
		
		
		
	} /* Media Query */
	
	
	@media screen and (max-width: 430px) {
		
		
	.about_bottom_left {
		
		a.about_blockquote_button {
			width:100%;
			max-width:300px;
			text-align: center;
			padding-left:20px;
			padding-right:20px;
			&:after {
				content:"click for free consutation";
			}
			&:hover {
				
			}
		}
	}
		
		
	} /* Media Query */
	
	
	@media screen and (max-width: 420px) {
		
		
		
	.about_bottom_blockquote {
		.about_bottom_blockquote_inner {
			.about_bottom_blockquote_content {
				max-width: 330px;
				strong {
					
				}
			}	
		}
	}
		
		
		
	} /* Media Query */
	
	
	@media screen and (max-width: 412px) {
		
		
	.about_bottom_left {
		
		a.about_blockquote_button {
			
			&:after {
				content:"click for free consutation";
			}
			&:hover {
				
			}
		}
	}
		
		
	} /* Media Query */