$themePath: '/wp-content/themes/garyjohnson/';

// fonts

// montserrat


@mixin montserratsemibold {
 	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-style: normal;
}


@mixin montserratbold {
 	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-style: normal;
}


@mixin montserratblack {
 	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-style: normal;
}

// notoserif


// had to self host this because google isn't hosting this one correctly!!


@font-face {
    font-family: 'NotoSerif';
    src: url(#{$themePath}fonts/NotoSerif.woff2) format('woff2'),
        url(#{$themePath}fonts/NotoSerif.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@mixin notoserifreg {
 	font-family: 'NotoSerif';
	font-weight: 400;
	font-style: normal;
}



@mixin notoserifbold {
 	font-family: 'Noto Serif', serif;
	font-weight: 700;
	font-style: normal;
}

// sourcesans pro

@mixin sourcesanssemibold {
 	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	font-style: normal;
}


@mixin sourcesansbold {
 	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-style: normal;
}

@mixin sourcesansblack {
 	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 900;
	font-style: normal;
}

//color

$blue: #0a0d28;
$gold: #c3984f;
$orange: #e75841;
$white: #fbf8f3;

