

#section_one {
	width:100%;
	height:3000px;
	display: flex;
	overflow: hidden;
	height:939px;
	margin-top:133px;
}


.sec_one_left {
	flex-basis: 50%;
	height:100%;
	position: relative;
	width:1350px;
	overflow: hidden;
	img {
		position: absolute;
		top:0;
		width:1350px;
		height:939px;
		left:0;
		// object-fit:cover;
	}
}


.sec_one_left_content {
	position: relative;
	z-index: 1;
	max-width:600px;
	display: block;
	margin:358px auto 0;
	.sec_one_header {
		color:#fff;
		font-size: 74px;
		line-height: 100px;
		@include montserratbold;
		span {
			display: inline-block;
			&:after {
				content:"";
				display: block;
				width:100%;
				height:4px;
				background: $orange;
			}
			&:nth-of-type(2) {
				&:after {
					position: relative;
					top:-13px;
				}
			}
			&:nth-of-type(3) {
				&:after {
					position: relative;
					top:-13px;
				}
			}
		}
	}
}


a.consultation_button {
	text-transform: lowercase;
	background: $orange;
	color:#fff;
	display: inline-block;
	font-size: 18px;
	text-decoration: none;
	padding:26px 20px;
	margin-top:40px;
	box-shadow: 0px 6px 24px 0px rgba(10, 25, 57, 0.55);
	@include montserratbold;
}



.sec_one_right {
	flex-basis: 50%;
	height:100%;
}