

#section_one {
	width:100%;
	height:3000px;
	display: flex;
	overflow: hidden;
	height:939px;
	margin-top:133px;
}


.sec_one_left {
	flex-basis: 50%;
	height:100%;
	position: relative;
	width:1350px;
	overflow: hidden;
	padding:0 54px;
	img {
		position: absolute;
		top:0;
		width:1350px;
		height:939px;
		left:0;
		// object-fit:cover;
	}
}


.sec_one_left_content {
	position: relative;
	z-index: 1;
	max-width:600px;
	display: block;
	margin:358px auto 0;
	.sec_one_header {
		color:#fff;
		font-size: 74px;
		line-height: 100px;
		max-width: 600px;
		@include montserratbold;
		span {
			display: inline-block;
			position: relative;
			&:after {
				content:"";
				display: block;
				width:100%;
				height:4px;
				background: $orange;
				
			}
			&:nth-of-type(2) {
				&:after {
					position: absolute;
					top:87px;
				}
			}
			&:nth-of-type(3) {
				&:after {
					position: absolute;
					top:89px;
				}
			}
		}
	}
}


a.consultation_button {
	text-transform: lowercase;
	background: $orange;
	color:#fff;
	display: inline-block;
	font-size: 18px;
	text-decoration: none;
	padding:26px 30px;
	margin-top:40px;
	box-shadow: 0px 6px 24px 0px rgba(10, 25, 57, 0.55);
	transition: all 200ms ease-in-out;
	@include montserratbold;
	&:hover {
		background: $gold;
	}
}



.sec_one_right {
	flex-basis: 50%;
	height:100%;
	background: $blue;
	padding:0 59px;
}


.sec_one_right.mobile {
	display: none;
}



.sec_one_wistia_wrapper {
	max-width:710px;
	margin:152px auto 0;
	display: flex;
	justify-content: space-between;
}



.sec_one_single_vid {
	flex-basis:47.5%;
	position: relative;
		.sec_one_single_vid_wistia {
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index: 1;
			cursor: pointer;
			display:block;
		}
		.sec_one_video_img {
			position: relative;
			img.video_thumb {
				width:100%;
				height:auto;
				display: block;
				box-shadow: 0px 6px 24px 0px rgba(0, 0, 1, 0.54);
			}
			.sec_one_video_overlay {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	
	&:hover {
		span.click_to_watch {
			color:$gold;
			&:after {
				transition: all 200ms ease-in-out;
				background: $gold;
			}
		}
	}
	&:nth-of-type(1) {
		
			a {
				.sec_one_video_img {
					.sec_one_video_overlay {
						.play_button {
							background:rgba(195,152,79,0.9);
						}
					}
				}
			}
		}
	
	&:nth-of-type(2) {
		&:hover {
			.sec_one_video_img {
				.sec_one_video_overlay {
					background: rgba(10,13,40,0.65);
				}
			}
		}
		.sec_one_video_img {
			position: relative;
			.sec_one_video_overlay {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				background: rgba(10,13,40,0.8);
				transition: all 200ms ease-in-out;
			}
		}
		&:hover {
			a {
				.sec_one_video_img {
					.sec_one_video_overlay {
						//background: rgba(234,87,63,0);
					}
				}
			}
		}
		a {
			.sec_one_video_img {
				.sec_one_video_overlay {
					//background: rgba(234,87,63,0.8);
					transition: all 200ms ease-in-out;
				}
			}
		}
	}
	span.sec_one_video_title {
		text-transform: uppercase;
		display: block;
		color:$gold;
		font-size: 18px;
		letter-spacing: 0.2em;
		margin: 38px 0 0;
		@include montserratblack;
	}
	span.sec_one_video_description {
		display: block;
		color:#fff;
		line-height: 28px;
		font-size:18px;
		max-width: 260px;
		margin-top:15px;
		@include sourcesanssemibold;
	}
	span.click_to_watch {
		color:$orange;
		font-size: 18px;
		display: inline-block;
		text-transform: lowercase;
		margin-top:22px;
		transition: all 200ms ease-in-out;
		@include montserratbold;
		&:after {
			content:"";
			display: block;
			width:100%;
			height:4px;
			background: $orange;
			margin-top:12px;
		}
	}
}

.play_button {
	width:144px;
	height:144px;
	border:3px solid #fff;
	border-radius: 50%;
	background: rgba(234,87,63,0.8);
	display: flex;
	align-items: center;
	transition: all 200ms ease-in-out;
	&:after {
		content:"Play Video";
		display: block;
		color:#fff;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 0.2em;
		line-height: 24px;
		text-align: center;
		@include montserratblack;
	}
}


@media screen and (max-width: 1855px) {
	
	
	
	.sec_one_left {
		img {
			left:-100px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1670px) {
	
	
	
	.sec_one_left {
		img {
			left:-170px;
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1500px) {
	
	.sec_one_left {
		img {
			left:-230px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	#section_one {
		height:784px;
	}
	
	
	.sec_one_wistia_wrapper {
	   margin: 109px auto 0;
	 }
	 
	 .sec_one_single_vid {
		 flex-basis:46.7%;
	 }
	
	
	 .sec_one_left {
		 
	 }
	 
	 .sec_one_left_content {
   		margin: 300px auto 0;
   		.sec_one_header {
	   		font-size: 70px;
	   		line-height: 95px;
	   		span {
		   		&:nth-of-type(2) {
			   		&:after {
				   		top:80px;
			   		}
		   		}
		   		&:nth-of-type(3) {
			   		&:after {
				   		top:84px;
			   		}
		   		}
	   		}
   		}
		}
		
		a.consultation_button {
			margin-top: 33px;
		}
		
		
		.play_button {
			width:118px;
			height:118px;
			&:after {
				font-size: 16px;
				line-height: 20px;
			}
		}
		
		.sec_one_single_vid {
			span.sec_one_video_description {
				font-size: 16px;
				line-height: 26px;
				max-width: 220px;
			}
		}
		   
	
	
} /* Media Query */



@media screen and (max-width: 1350px) {
	
	
	.sec_one_left {
		img {
			left:-300px;
		}
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1200px) {
	
	
	
	#section_one {
		display: block;
		height:auto;
	}
	
	
	.sec_one_left {
		width:100%;
		height:786px;
		img {
			left:0px;
			width:100%;
			height:940px;
			object-fit:cover;
			object-position:top center;
		}
	}
	
	.sec_one_right {
		padding:1px 86px 0;
	}
	
	
	.sec_one_wistia_wrapper {
		margin-top:0;
		padding:76px 0;
	}
	
	.sec_one_single_vid {
		a {
			.sec_one_video_img {
				height:290px;
				img.video_thumb {
					width:100%;
					height:100%;
					position: absolute;
					top:0;
					left:0;
					object-fit:cover;
				}
			}
		}
	}
	
	
	a.consultation_button {
		margin-top: 36px;
		padding: 25px 30px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
	#section_one {
		margin-top:0;
	}
	
	.sec_one_left {
		height:auto;
		padding: 0 18px 51px;
		img {
			height: 720px;
			top:-35px;
			object-position: 40% 0;
		}
	}
	
	
	.sec_one_left_content {
		margin: 201px auto 0;
		max-width: 367px;
		.sec_one_header {
			line-height: 65px;
			span {
				font-size: 52px;
				&:after {
					height:3px;
				}
				&:nth-of-type(2) {
					&:after {
						top:58px;
					}
				}
				&:nth-of-type(3) {
					&:after {
						top:58px;
					}
				}
			}
		}
	}
	
	a.consultation_button {
		margin-top: 23px;
	}
	    
	
	.sec_one_right {
		height:auto;
		padding: 1px 66px 60px;
	}
	
	.sec_one_right.mobile {
		display: block;
	}
	
	.sec_one_right.desktop {
		display: none;
	}

	
	
	.sec_one_wistia_wrapper {
		display: block;
		padding: 60px 0;
		max-width: 380px;
		.slick-slide {
		   margin: 0 27px;
		 }
		 .slick-list {
		   margin: 0 -27px;
		 }
		.slick-dots {
			bottom: -8px;
			li.slick-active {
				button {
					&:before {
						color:$orange;
					}
				}
			}
			li:hover {
				button {
					&:before {
						color:$orange;
					}
				}
			}
			li {
				margin:0;
				width:22px;
				button {
					width:22px;
					&:before {
						width:22px;
						opacity: 1;
						color: $gold;
						font-size: 43px;
					}
				}
			}
		}
	}
	
	
	.sec_one_single_vid {
		a {
			.sec_one_video_img {
				height:auto;
				.sec_one_video_overlay {
					
				}
				img.video_thumb {
					height:auto;
					position: relative;
				}
			}
		}
		span.sec_one_video_title {
			text-align: center;
			margin: 27px 0 0;
		}
		span.sec_one_video_description {
			display: none;
		}
		span.click_to_watch {
			display: none;
		}
	}
	

	
	
	
} /* Media Query */


@media screen and (max-width: 400px) {
	
	
	.sec_one_left_content {
		
		.sec_one_header {
			line-height: 56px;
			span {
				font-size: 47px;
				&:after {
					
				}
				&:nth-of-type(2) {
					&:after {
						
					}
				}
				&:nth-of-type(3) {
					&:after {
						
					}
				}
			}
		}
	}
	
	a.consultation_button {
		padding-left:4px;
		padding-right:4px;
		width:100%;
		text-align: center;
	}
	
	
	
	
		
	
	

	
	
} /* Media Query */
