#section_four {
	padding:80px 0;
	overflow: hidden;
}

.sec_four_inner {
	background: $blue;

}

.sec_four_slider {
	display: flex;
	justify-content: space-between;
}

.sec_four_slide {
	flex-basis:25%;
	text-align: center;
	position: relative;
	height:818px;
}



.sec_four_reg {
	.sec_four_reg_inner {
		.sec_four_svg {
			width:100%;
			position: absolute;
			top:180px;
			left:0;
		}
		.sec_four_svg.one {
			top:173px;
			svg {
				width:97px;
				height:106px;
			}
		}
		.sec_four_svg.two {
			svg {
				width:91px;
				height:91px;
			}
		}
		.sec_four_svg.three {
			svg {
				width:95px;
				height:95px;
			}
		}
		.sec_four_svg.four {
			svg {
				width:69px;
				height:103px;
			}
		}
		span.sp_amount {
			color:#fff;
			text-transform: uppercase;
			font-size: 80px;
			display: block;
			padding-top:420px;
			@include notoserifreg;
			&:after {
				content:"";
				display: block;
				width:66px;
				height:4px;
				background: $gold;
				margin:32px auto 0;
			}
		}
		span.sp_type {
			color:$orange;
			text-transform: uppercase;
			font-size: 16px;
			display: block;
			letter-spacing: 0.2em;
			margin-top:39px;
			@include montserratblack;
		}
		span.sec_four_reg_description {
			display: none;
		}
	}
}




.sec_four_hover {
	height:100%;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	z-index:2;
	opacity: 0;
	transition: all 200ms ease-in-out;
	a {
			text-decoration: none;
		}
	&:after {
		content:"";
		display: block;
		background: $orange;
		width:100%;
		height: 100%;
		position: absolute;
		top:50%;
		transform: translateY(-50%) scaleX(1);
		transform-origin: center center;
		left:0;
		z-index:-1;
		box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0);
		transition: box-shadow 200ms linear, opacity 200ms linear, height 500ms cubic-bezier(.17,.66,.34,.98), transform 500ms cubic-bezier(.17,.66,.34,.98);
		opacity: 0;
	}
	.sec_four_hover_inner {
		
		.sec_four_hover_description_wrapper {
			position: absolute;
			width:100%;
			height:575px;
			bottom:240px;
			left:0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding:0 35px;
			span.sec_four_hover_description {
				color:#fff;
				font-size: 20px;
				line-height: 40px;
				display: block;
				max-width: 355px;
				margin:35px auto 0;
				@include sourcesansbold;
			}
		}
		.view_sp_button_wrapper {
			position: absolute;
			bottom:105px;
			left:0;
			width:100%;
			padding:0 50px;
			span.view_sp_button {
				background: #fff;
				display: inline-block;
				text-transform: lowercase;
				text-transform: uppercase;
				text-decoration: none;
				color:$gold;
				width:100%;
				max-width:357px;
				font-size: 16px;
				padding:34px 0px;
				letter-spacing: 0.2em;
				transition: all 200ms ease-in-out;
				@include montserratblack;
			}
		}
	}
}


.sec_four_slide {
	&:hover {
		.sec_four_hover {
			opacity: 1;
			&:after {
				opacity: 1;
				height:calc(100% + 88px);
				transform: translateY(-50%) scaleX(1.1);
				box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.44);
			}
		}
	}
}



@media screen and (max-width: 1450px) {
	
	#section_four {
		padding: 80px 0;
		background:pink;
	}
	
	.sec_four_slide {
		height:704px;
	}
	
	.sec_four_reg {
		.sec_four_reg_inner {
			span.sp_amount {
				font-size: 76px;
				padding-top: 365px;
			}
			.sec_four_svg {
				top: 122px;
			}
			.sec_four_svg.one {
				top:118px;
			}
		}
	}
	
	
	.sec_four_hover {
		.sec_four_hover_inner {
			.sec_four_hover_description_wrapper {
				height: 429px;
				span.sec_four_hover_description {
					line-height: 36px;
				}
			}
			.view_sp_button_wrapper {
				padding:0 35px;
			}
		}
	}
	
	

	
	
	
.sec_four_slide {
	&:hover {
		.sec_four_hover {
			
			&:after {
				
				height:calc(100% + 70px);
				
			}
		}
	}
}

	
	
} /* Media Query */



@media screen and (max-width: 1300px) {
	
	
	
	
	#section_four {
		padding:0;
	}
	
	.sec_four_slider {
		display: block;
	}
	
	.sec_four_slide {
		height:735px;
	}
	
	.sec_four_hover {
		display: none;
	}
	
	
	.sec_four_reg {
		.sec_four_reg_inner {
			.sec_four_svg {
				top:62px;
			}
			.sec_four_svg.one {
				top: 62px;
			}
			span.sp_amount {
				padding-top: 224px;
			}
			span.sp_type {
				margin-top: 26px;
			}
			span.sec_four_reg_description {
				display: block;
				color:#fff;
				font-size: 20px;
				line-height: 36px;
				max-width: 465px;
				margin:37px auto 0;
				@include sourcesanssemibold;
			}
		}
	}  
	
} /* Media Query */



 