
#section_three {
	
}

.sec_three_inner {
	padding:140px 0 57px;
}


h1.sec_three_header {
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	letter-spacing: 0.2em;
	line-height: 64px;
	max-width:970px;
	padding:0 85px;
	margin:0 auto;
	@include montserratblack;
}


span.sec_three_description {
	display: block;
	color:$gold;
	font-size: 24px;
	line-height: 43px;
	padding:0 85px;
	max-width: 1065px;
	margin:33px auto 0;
	text-align: center;
	@include sourcesansbold;
}


.sec_three_top_content_wrapper {
	max-width:1700px;
	margin:160px auto 0;
	display: flex;
	padding:0 85px;
}

.sec_three_top_content {
	padding-top:42px;
	flex-grow:1;
	padding-right:13%;
	&:before {
		content:"";
		display: block;
		width:100%;
		height:5px;
		background: $orange;
		margin-bottom:32px;
	
	}
}


.sec_three_top_img {
	flex-shrink:0;
	flex-basis:645px;
	position: relative;
	.sec_three_top_img_inner {
		position: relative;
		img {
			max-width:100%;
			height:auto;
			display: block;
		}
		a.meet_attorneys_button {
			display: inline-block;
			background: $orange;
			position: absolute;
			bottom:0;
			right:0;
			color:#fff;
			text-decoration: none;
			font-size: 16px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			padding:27px 86px;
			transition: all 200ms ease-in-out;
			@include montserratblack;
			&:hover {
				background: $gold;
			}
		}
	}
}


.sec_three_bottom_content_wrapper {
	display: flex;
	margin-top:165px;
	justify-content: space-between;
}

.sec_three_blockquote {
	flex-basis:44%;
	max-width:846px;
	flex-shrink:0;
	margin-top:9px;
}

.sec_three_blockquote_inner {
	width:100%;
	padding:107px 40px 130px 24.5%;
}


.sec_three_blockquote_content {
	max-width: 560px;
	.sec_three_quote {
		font-size: 45px;
		line-height: 76px;
		@include montserratbold;
		strong {
			position: relative;
			display: inline-block;
			&:after {
				content:"";
				display: block;
				width:100%;
				height:6px;
				background: $orange;
				position: absolute;
				top:68px;
				left:0;
			}
		}
	}
	span.blockquote_name {
		display: block;
		margin-top:52px;
		text-transform: uppercase;
		color:$gold;
		font-size: 16px;
		letter-spacing: 0.2em;
		@include montserratblack;
	}
}


.sec_three_bottom_content {
	padding-left:11%;
	padding-right:10.1%;
	&:before {
		content:"";
		display: block;
		width:100%;
		height:5px;
		background: $orange;
		margin-bottom:47px;
	}
	h2.hack {
		padding-top:0;
	}
}

@media screen and (max-width: 1780px) {
	
	
	.sec_three_blockquote_inner {
		padding: 107px 40px 130px 10.5%;
	}
	
	
	
	.sec_three_bottom_content {
    padding-left: 8%;
    padding-right: 8%;
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1530px) {
	
	
	
	.sec_three_top_content {
		padding-right:7%;
	}
	
	.sec_three_blockquote {
		margin-top: 65px;
	}
	
	    
	
	.sec_three_blockquote_content {
		.sec_three_quote {
			font-size: 39px;
			line-height: 66px;
			 max-width: 480px;
		}
		span.blockquote_name {
			margin-top: 60px;
		}
	}
	
	
	.sec_three_blockquote_inner {
		padding: 98px 40px 115px 10.5%;
	}
	
	
	.sec_three_bottom_content_wrapper {
    margin-top: 118px;
  }
	    
	
	
} /* Media Query */

@media screen and (max-width: 1450px) {
	
	
	
	.sec_three_inner {
    padding: 137px 0 95px;
	}
	

	
	h1.sec_three_header {
		
	}
	
	.sec_three_top_content_wrapper {
		margin: 122px auto 0;
		padding: 0 35px 0 85px;
	}
	
	.sec_three_top_content {
		padding-top: 22px;
	}
	
	.sec_three_top_img {
		flex-basis: 591px;
		.sec_three_top_img_inner {
			padding-right:35px;
			a.meet_attorneys_button {
				padding: 27px 65px;
			}
		}
	}
	
	.sec_three_bottom_content_wrapper {
		margin-top: 20px;
	}
	
	.sec_three_bottom_content {
		padding-right:80px;
	}
	
	.sec_three_blockquote_inner {
	  padding: 98px 40px 115px 93px;
	}

	
} /* Media Query */

@media screen and (max-width: 1390px) {
	
	
	.sec_three_blockquote_inner {
		padding: 98px 40px 115px 42px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1300px) {
	
	
	
	h1.sec_three_header {
		font-size: 40px;
		line-height: 50px;
		letter-spacing: 0.2em;
		padding: 0 60px;
		max-width: 850px;
	}
	
	.sec_three_inner{
	  padding: 108px 0 80px;
	}
	
	span.sec_three_description {
		font-size: 22px;
		line-height: 37px;
		margin: 25px auto 0;
	}
	
	
	.sec_three_top_content_wrapper {
		display: block;
		margin: 68px auto 0;
		max-width:1100px;
		padding-left:87px;
		padding-right:87px;
	}
	
		.sec_three_top_content {
			padding-right:0;
			
			margin-left:auto;
			margin-right:auto;
		}
	
	
	.sec_three_top_img {
		display: none;
	}
	
	
	.sec_three_bottom_content_wrapper {
		display: block;
		margin-top: 68px;
	}
	
	
	.sec_three_blockquote {
		max-width:100%;
	}
	
	
	.sec_three_blockquote_inner {
		padding: 98px 87px 83px;
	}
	
	    
	
	.sec_three_blockquote_content {
		max-width: 590px;
		margin:0 auto;
		.sec_three_quote {
			max-width:100%;
			strong {
				display: inline;
				border-bottom:5px solid $orange;
				&:nth-of-type(2) {
					padding-left:11px;
				}
				&:after {
					display: none;
				}
			}
		}
	}
	
	
	.sec_three_bottom_content {
		margin-top:115px;
		margin-left:auto;
		margin-right:auto;
		padding-left:87px;
		padding-right:87px;
		max-width:1100px;
	}
	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	

	.sec_three_inner {
		padding: 64px 0 40px;
	}
	
	
	h1.sec_three_header {
		padding:0 40px;
	}
	
	
	span.sec_three_description {
		padding: 0 34px;
		margin: 50px auto 0;
	}
	
	
	.sec_three_top_content_wrapper {
    margin: 58px auto 0;
    padding:0 33px;
   }
   
   .sec_three_top_content {
	   padding-right:0;
   }
   
   
   .sec_three_bottom_content {
	   margin-top:76px;
	   padding-left:33px;
	   padding-right:33px;
   }
   
   .sec_three_blockquote_content {
	   span.blockquote_name {
		   font-size: 14px;
		    margin-top: 33px;
	   }
	   .sec_three_quote {
		   line-height: 54px;
		   font-size: 32px;
		   	strong {
			 		border-bottom: 4px solid #e75841;
		 		}
	   }
   }
	
	
	 .sec_three_blockquote_inner {
   	 padding: 54px 33px 69px;
		}
	
} /* Media Query */


@media screen and (max-width: 410px) {
	
	
	
	h1.sec_three_header {
		font-size: 33px;
		line-height: 40px;
	}
	
	
} /* Media Query */

