

#section_one {
	width:100%;
	height:3000px;
	display: flex;
	overflow: hidden;
	height:939px;
	margin-top:133px;
}


.sec_one_left {
	flex-basis: 50%;
	height:100%;
	position: relative;
	width:1350px;
	overflow: hidden;
	padding:0 54px;
	img {
		position: absolute;
		top:0;
		width:1350px;
		height:939px;
		left:0;
		// object-fit:cover;
	}
}


.sec_one_left_content {
	position: relative;
	z-index: 1;
	max-width:600px;
	display: block;
	margin:358px auto 0;
	.sec_one_header {
		color:#fff;
		font-size: 74px;
		line-height: 100px;
		@include montserratbold;
		span {
			display: inline-block;
			&:after {
				content:"";
				display: block;
				width:100%;
				height:4px;
				background: $orange;
			}
			&:nth-of-type(2) {
				&:after {
					position: relative;
					top:-13px;
				}
			}
			&:nth-of-type(3) {
				&:after {
					position: relative;
					top:-13px;
				}
			}
		}
	}
}


a.consultation_button {
	text-transform: lowercase;
	background: $orange;
	color:#fff;
	display: inline-block;
	font-size: 18px;
	text-decoration: none;
	padding:26px 30px;
	margin-top:40px;
	box-shadow: 0px 6px 24px 0px rgba(10, 25, 57, 0.55);
	transition: all 200ms ease-in-out;
	@include montserratbold;
	&:hover {
		background: $gold;
	}
}



.sec_one_right {
	flex-basis: 50%;
	height:100%;
	background: $blue;
	padding:0 59px;
}


.sec_one_video_wrapper {
	max-width:710px;
	margin:152px auto 0;
	display: flex;
	justify-content: space-between;
}


.sec_one_single_vid {
	flex-basis:47.5%;
	a {
		text-decoration: none;
		.sec_one_video_img {
			position: relative;
			img.video_thumb {
				width:100%;
				height:auto;
				display: block;
			}
			.sec_one_video_overlay {
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	&:nth-of-type(1) {
		&:hover {
			a {
				.sec_one_video_img {
					.sec_one_video_overlay {
						.play_button {
							background:rgba(195,152,79,0.8);
						}
					}
				}
			}
		}
	}
	&:nth-of-type(2) {
		&:hover {
			a {
				.sec_one_video_img {
					.sec_one_video_overlay {
						//background: rgba(234,87,63,0);
					}
				}
			}
		}
		a {
			.sec_one_video_img {
				.sec_one_video_overlay {
					//background: rgba(234,87,63,0.8);
					transition: all 200ms ease-in-out;
				}
			}
		}
	}
	span.sec_one_video_title {
		text-transform: uppercase;
		display: block;
		color:$gold;
		letter-spacing: 0.2em;
		margin:40px 0 0;
		@include montserratblack;
	}
	span.sec_one_video_description {
		display: block;
		color:#fff;
		line-height: 28px;
		font-size:18px;
		max-width: 260px;
		margin-top:18px;
		@include sourcesanssemibold;
	}
	span.click_to_watch {
		color:$orange;
		font-size: 18px;
		display: inline-block;
		text-transform: lowercase;
		margin-top:22px;
		@include montserratbold;
		&:after {
			content:"";
			display: block;
			width:100%;
			height:4px;
			background: $orange;
			margin-top:12px;
		}
	}
}

.play_button {
	width:144px;
	height:144px;
	border:3px solid #fff;
	border-radius: 50%;
	background: rgba(234,87,63,0.8);
	display: flex;
	align-items: center;
	transition: all 200ms ease-in-out;
	&:after {
		content:"Play Video";
		display: block;
		color:#fff;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: 0.2em;
		line-height: 24px;
		text-align: center;
		@include montserratblack;
	}
}


@media screen and (max-width: 1855px) {
	
	
	
	.sec_one_left {
		img {
			left:-100px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1670px) {
	
	
	
	.sec_one_left {
		img {
			left:-170px;
		}
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1500px) {
	
	.sec_one_left {
		img {
			left:-230px;
		}
	}
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	
	#section_one {
		height:784px;
	}
	
	
	.sec_one_video_wrapper {
	   margin: 109px auto 0;
	 }
	 
	 .sec_one_single_vid {
		 flex-basis:46.7%;
	 }
	
	
	 .sec_one_left {
		 
	 }
	 
	 .sec_one_left_content {
   		margin: 300px auto 0;
   		.sec_one_header {
	   		font-size: 70px;
	   		line-height: 95px;
   		}
		}
		
		a.consultation_button {
			margin-top: 27px;
		}
		   
	
	
} /* Media Query */



@media screen and (max-width: 1350px) {
	
	
	.sec_one_left {
		img {
			left:-300px;
		}
	}
	
	
	
	
	
} /* Media Query */



@media screen and (max-width: 1200px) {
	
	
	
	#section_one {
		display: block;
		height:auto;
	}
	
	
	.sec_one_left {
		width:100%;
		height:786px;
		img {
			left:0px;
			width:100%;
			height:940px;
			object-fit:cover;
			object-position:top center;
		}
	}
	
	.sec_one_right {
		padding:1px 86px 0;
	}
	
	
	.sec_one_video_wrapper {
		margin-top:0;
		padding:76px 0;
	}
	
	.sec_one_single_vid {
		a {
			.sec_one_video_img {
				height:290px;
				img.video_thumb {
					width:100%;
					height:100%;
					position: absolute;
					top:0;
					left:0;
					object-fit:cover;
				}
			}
		}
	}
	
	
	
} /* Media Query */
